// Change color based on body class
$colors: (('blue', #0094ca, #004155, #7de1ff),
('green', #9bbe05, #466e00, #d2f082),
('orange', #ff7d00, #c8af00, #ffc896),
('purple', #b40096, #6e006e, #ff96fa),
('yellow', #ffbe00, #d28c14, #e1dc7d),
('brown', #966e14, #644600, #d2b478),
('grey', #969696, #4b4b4b, #dcdcdc),
('red', #c81919, #820019, #ff6e6e));
@each $class, $color, $color-two, $color-three in $colors {

  .#{$class} a {
    color: $color-two;
  }

  .#{$class} .node-teaser h2 a {
    color: $color-two;
  }

  .#{$class} .tabs ul.primary li a {
    background-color: $color;
    border: 1px solid $color;
  }

  .#{$class} .block-system-main-menu,
  .#{$class} .menu-block-2.menu-name-main-menu {
/*    background: $color-two;*/

    > ul.menu {

      > li {

        a {
          background: $color-two;
          border-right: 1px solid $color;

          &.active,
          &.active-trail{
            border-bottom: none;
            color: $color;
            background: #fff;
          }

          &:hover,
          &:focus,
          &:active {
            background: #fff;
            color: $color;
          }
        }
      }
    }
  }

  .#{$class} .menu-block-2.menu-name-main-menu {
    background: transparent;

    @include media($small) {
      background: $color-two;
    }
  }

  .#{$class} #header {
    background-color: $color;
  }

  .#{$class} .menu-block-2.menu-name-main-menu > ul.menu > li a.active-trail {
    color: $color-two;
  }

  .#{$class} .menu-block-2.menu-name-main-menu > ul.menu > li a:hover, .menu-block-2.menu-name-main-menu > ul.menu > li a:focus, .menu-block-2.menu-name-main-menu > ul.menu > li a:active,
  .#{$class} .menu-block-2.menu-name-main-menu > ul.menu > li.expanded:hover a,
  .#{$class} .menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul li a:hover {
    color: $color-two;
  }

  .#{$class} .sidebar ul li a:hover,
  .#{$class} .sidebar ul li a.active-trail,
  .#{$class} .sidebar ul li a.active,
  .#{$class} .sidebar ul li.expanded a  {
    color: $color-two;
    background-color: #eee;
  }

  .#{$class} .sidebar ul li a {
    color: #fff;
    background-color: $color;
  }

  .#{$class} h1, .#{$class} h2, .#{$class} h3, .#{$class} h4, .#{$class} h5, .#{$class} h6 {
    color: $color !important;
  }

  .#{$class} #footer-wrapper {
    background-color: $color;
  }

  .#{$class} #footer {
    border-color: $color-two;
  }

  .#{$class} .body ul li:before {
    color: $color;
  }
}
