// Import Bourbon mixin lib
@import "../assets/bourbon/dist/bourbon";

// Import our variables, mixins & helpers
@import "variables", "mixins", "helpers";

// Neat should be imported after variable, reset and mixin declaration.
// Otherwise neat overrides our variables.
@import "../assets/neat/app/assets/stylesheets/neat";

@import "base";

// General resets
// Remove subpixels from webkit browsers and FF
// Remove tap highlight color for webkit touch browsers.
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-size: $font-size;
  line-height: $line-height;

  @include media($small) {
    padding-top: 75px;
  }
}

a {
  font-weight: 600;
  @include animate();
}

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  font-family: $til-reg;
  font-size: $font-size;
  line-height: $line-height;
}

// Set HTML to 62.5% to make it easier setting REM/EM values
// Now it calculates from 10 instead of regular 16.
// Example 1rem = 10px
html {
  font-size: 62.5%;
  min-height: 100%;
}

// Remove subpixels from webkit browsers and FF
// Remove webkit standard input, form, select & button styling on smartdevices
input,
form,
select,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  border-radius: 0px;
  border: 0px;
  outline: none;
}

// Remove standard border on button & input on smart devices
button,
input[type=submit] {
  border: 0px;
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

::selection,
::-moz-selection {
  background: $selected;
  color: #fff;
}

#toolbar-menu,
#admin-menu {
  background-color: #101010;
}

#toolbar,
#admin-menu  {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;

  a {
    transition: none;
    webkit-transition: none;
    -moz-transition: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $til-reg;
  color: $blue-medium;
  padding-bottom: 10px;
}

h1 {
  font-size: $header-one;
  line-height: $header-one * 1.2;
  font-weight: 300;
  margin: 20px 0 30px;
}

h2 {
  font-size: $header-two;
  line-height: $header-two * 1.2;
  font-weight: 300;
  margin-bottom: 0.5em;
}

h3 {
  font-size: $header-three;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h4,
h5,
h6 {
  font-size: $header-four;
  font-weight: 600;
  margin-bottom: 0.3em;
}

input {

  &[type="submit"] {
    @include button(add);
  }

  &.small-add {
    @include button(small_add);
  }

  &.edit {
    @include button(edit);
  }
}

.body,
.field-name-body {
  ul {
    margin-left: 20px;

    ul {
      margin-left: 15px;
    }

    li {
      margin-bottom: 15px;
      list-style-type: none;
    }

    li:before {
      /* For a round bullet */
      // content:'\2022';
      /* For a square bullet */
      content:'\25A0';
      display: block;
      position: relative;
      max-width: 0;
      max-height: 0;
      left: -20px;
      top: -2px;
      color: $blue-medium;
      font-size: 14px;
    }
  }
}

ol {
  counter-reset: li;  /* Initiate a counter */
  margin-left: 0;     /* Remove the default left margin */
  padding-left: 0;    /* Remove the default left padding */

  > li {
    position: relative;   /* Create a positioning context */
    margin: 0 0 6px 2em;  /* Give each list item a left margin to make room for the numbers */
    padding: 4px 8px;     /* Add some spacing around the content */
    list-style: none;     /* Disable the normal item numbering */
    border-top: 2px solid $blue-medium;
  }

  > li:before {
    content: counter(li);   /* Use the counter as content */
    counter-increment: li;  /* Increment the counter by 1 */
    /* Position and style the number */
    position: absolute;
    top: -2px;
    left: -2em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right: 8px;
    padding: 4px;
    border-top: 2px solid $blue-medium;
    color: #fff;
    background: $blue-medium;
    font-family: $til-bold;
    text-align: center;
  }
}

.sidebar ul li a:hover {
  background: #eee;
  text-decoration: none;
}

form {

  #edit-submit {
    display: inline-block;
    background: $blue-light;
    margin-right: 5px;
    color: white;
    font-weight: 600;
    padding: 7px 20px;
    cursor: pointer;
    @include transition (background 0.2s ease-in);
    -webkit-appearance: none;

    &:hover {
      background: shade($blue-light,40%);
    }
  }

  #edit-preview {
    display: inline-block;
    background: $blue-light;
    margin-right: 5px;
    color: white;
    font-weight: 600;
    padding: 5px 20px;
    cursor: pointer;
    @include transition (background 0.2s ease-in);

    &:hover {
      background: shade($blue-light,40%);
    }
  }

  #edit-preview-changes {
    display: inline-block;
    background: $interface-grey;
    margin-right: 5px;
    color: white;
    font-weight: 600;
    padding: 5px 20px;
    cursor: pointer;
    @include transition (background 0.2s ease-in);

    &:hover {
      background: shade($interface-grey,40%);
    }
  }

  #edit-delete {
    display: inline-block;
    background: shade(red,20%);
    margin-right: 5px;
    color: white;
    font-weight: 600;
    padding: 5px 20px;
    cursor: pointer;
    @include transition (background 0.2s ease-in);

    &:hover {
      background: shade(red,50%);
    }
  }
}

label {
  font-weight: bold;
}

input.form-text,
.comment-form input.form-text {
  border: 1px solid $interface-border;
  padding: 5px 10px;
  background-color: $interface-lighter;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

#sidebar-second,
#sidebar-first {

  @include media($small) {
    max-width: none;
    width: 100%;
  }
}

.sidebar {

  .section {
    > div {
      margin-bottom: 30px;
    }
  }

  ul {
    list-style: none;

    li {
      font-size: 11px;
      line-height: 15px;
      margin: 0;
      padding: 0;
      list-style: none;

      &.expanded {
        > a {
          background: #eee;
          color: #004155;
          font-weight: bold;
        }
      }

      a {
        background: $blue-medium;
        color: #fff;
        display: block;
        font-family: $til-reg;
        font-size: 11px;
        line-height: 15px;
        margin-top: 1px;
        padding: 10px 14px;
        text-transform: uppercase;

        &:hover {
          background: #eee;
          color: #004155;
          text-decoration: none;
        }

        &.active-trail {
          color: #004155;
        }

        &.active {
          font-weight: bold;
        }
      }

      li {

        a {
          background: #eee;
          border: 0;
          color: #466e40;
          font-size: 11px;
          line-height: 14px;
          margin: 0;
          padding-left: 30px;
          padding-top: 0;
          text-transform: none;

          &:hover {
            color: #004155;
          }
        }
      }
    }
  }
}

.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

@import 'modules/collaborators', 'modules/events','modules/footer','modules/header', 'modules/layout', 'modules/main-menu', 'modules/news', 'modules/partners_people', 'modules/sidebar', 'modules/frontpage', 'modules/work_packages_deliverables', 'modules/results', 'modules/forms' ;
@import 'colors';
