.block-block-3 {
  margin-top: 30px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}

.collaborators-logos-wrapper {

}

.collaborator {
  float: left;
  width: 18%;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #eee;
}

.collaborator.last {
  padding-right: none;
  margin-right: none;
  border-right: none;
}

.collaborator-logo {
  height: 150px;
}

.logo-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.collaborator-logo img {
  vertical-align: middle;
}

.collaborator-title {
  text-align: center;
}
