/* --------------- Events -------------- */

.block-views-events-block {

  @include media($small) {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
  }
}

.events-intro {
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
}

.previous-events {
  opacity: 0.5;
  margin-top: 30px;
}

.node-event,
.node-news,
.node-progress,
.node-article {

  &.view-mode-full {

    img {
      max-width: 100%;
    }
  }

  &.view-mode-teaser {
    overflow: auto;
  }
}

.field-name-field-image,
.field-name-field-event-image {

  .view-mode-full {
    
  }

  .view-mode-teaser & {
    float: left;
    margin-right: 15px;
    max-width: 250px;

    @include media($small) {
      float: none;
      margin: 0;
      max-width: 600px;
      margin-bottom: 15px;

      img {
        max-width: none;
        width: 100%;
        height: auto;
      }
    }
  }
}

.event-teaser-date {
  font-size: 16px;
  font-weight: bold;
  color: #666;
}

.event-teaser-date .date-display-range,
.event-listing-date .date-display-range {
  display: inline;
  font-weight: normal;
}

.event-teaser-body {
  margin-top: 15px;
  clear: left;
  display: inline-block;
}

.event-full-date {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin-bottom: 15px;
}

.event-full-date .date-display-range {
  display: inline;
  font-weight: normal;
}

.event-full-date .label-inline,
.event-full-location .label-inline {
  float: left;
  font-weight: normal;
}

.event-full-location,
.event-full-attachment {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}

.event-full-map {
  border: 1px solid #ddd;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  padding: 4px;
  height: 210px;
  width: 360px;
  margin-bottom: 30px;
  float: right;
}

.event-full-attachment .label-inline {
  float: left;
}

.event-full-body {
  margin-top: 15px;
}

.event-listing {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.views-row-last .event-listing {
  border-bottom: none;
}

.event-listing-title h2 {
  border-bottom: none;
  font-size: 16px;
}

.block-views-events-block-1 {
  border-top: 1px solid #eee;
}
