#footer {
  border: none;
  margin-top: 0;

  li a {
  	border-right: none;
  }

	p {
    float: left;
    margin: 16px 0 0;
    color: #fff;
  }

  .copyright {
    /*float: left;
    width: 75%;*/

    @include media($small) {
      text-align: center;
      width: 100%;
    }
  }
}

#footer-wrapper {
  letter-spacing: 0.2px;
  padding: 30px 15px; }

.footer-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include media($small) {
    display: block;
  }
}

.block-boxes-footer-logo {
  padding-right: 30px;
  width: 100%;


  @include media($small) {
    padding-right: 0;
    text-align: center;
  }
}

.block-boxes-eu-flag-footer {
  line-height: 0;
  width: 60px;

  @include media($small) {
    display: block;
    margin: 20px auto;
    text-align: center;
  }
}

.flag-container-footer img {
  width: 60px;
}
