.frontpage-container {

}

.frontpage-left {
  background: #eee;
  width: 50%;
  font-size: 16px;
  line-height: 1.3;
  vertical-align: middle;
  padding: 20px;
  display: table-cell;
  @include media ($small) {
    float: left;
    width: 100%;
  }
}
.frontpage-right {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  background-color: #eee;
  img {
    object-fit: cover;
     height: 100%;
     width: 100%;
     display: block;
  }
  @include media ($small) {
    clear: left;
    float: left;
    width: 100%;
  }
}

.front .block-views-events-block {
  clear: both;
}
