/* --------------- Custom Main Menu ------------ */
.menu-block-2.menu-name-main-menu {
  clear: both;
  margin: 0 15px;

  & > ul.menu {
    font-size: 0.929em;
    margin: 15px 0;
  }

  & > ul.menu > li {
    float: left;
    /* LTR */
    list-style: none;
    padding: 0;
    border: none;

    a {
      color: #fff;
      text-transform: uppercase;
      float: left;
      /* LTR */
      text-align: center;
      padding: 12px 20px;
      text-decoration: none;
      border-right: 1px solid rgb(156,188,38);
      border-bottom: 1px solid rgb(156,188,38);

      @include media($small) {
        font-size: 16px;
      }
    }

    a.active,
    a.active-trail {
      border-bottom: none;
      background: #fff;
    }

    a:hover,
    a:focus,
    a:active {
      background: #fff;
    }
  }
}





.menu-block-2.menu-name-main-menu > ul.menu > li.expanded {
  position: relative;
}
.menu-block-2.menu-name-main-menu > ul.menu > li.expanded:hover a {
  background: #fff;
}
.menu-block-2.menu-name-main-menu > ul.menu > li.expanded:hover ul {
  display: block; }
.menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul {
  display: none;
  position: absolute;
  margin: 0 !important;
  height: auto !important;
  z-index: 999;
  left: 0;
  top: 45px;
  width: 285px;
  box-shadow: 2px 4px 8px rgba(0, 65, 85, 0.4);
  opacity: 0.98;
  background: #fff;
}
.menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul:hover {
  display: block;
}
.menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul li {
  width: 100%;
  list-style: none;
}
.menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul li a {
  background: #fff;
  width: 100%;
  text-align: left;
  border: none;
  padding: 10px 20px;
  text-transform: none;
  font-size: 12px;

  @include media($small) {
    font-size: 14px;
    text-align: center;
  }

}
.menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul li a:hover {
  text-decoration: underline;
}

.block-menu-block-2 {
  float: left;
  clear: left;
  margin-top: -15px;
}

.headhesive--stick .block-menu-block-2 {
  clear: none;
  float: right;
  margin-top: 0;
}
