/* --------------- News -------------- */

.block-views-news-block-2 {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.block-views-news-block-3 {
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.news-full-postdate,
.news-listing-postdate,
.news-teaser-postdate,
.news-slide-postdate,
.feed-item-slide-postdate,
.feed-item-listing-postdate,
.deliverable-full-postdate,
.progress-full-postdate,
.progress-teaser-postdate {
  text-transform: uppercase;
  color: #888;
  font-size: 10px;
}

.news-full-postdate,
.progress-full-postdate {
  margin-bottom: 15px;
}

.news-full-image,
.progress-full-image {
  margin-bottom: 15px;
}

.news-full-kicker,
.news-slide-kicker,
.news-teaser-kicker {
  font-weight: 600;
  display: inline;
  margin-right: 5px;
}

.news-full-lead,
.news-slide-lead,
.news-teaser-lead {
  color: #888;
  display: inline;
  margin-bottom: 15px;
}

.news-full-body,
.progress-full-body,
.article-full-body {
  margin-top: 15px;
}

.news-listing,
.feed-item-listing {
  border-bottom: 1px solid #eee;
  clear: left;
  margin-bottom: 10px;
  overflow: auto;
  padding-bottom: 10px;
  padding-top: 5px;
}

.news-listing-image,
.feed-item-listing-image {
  float: left;
  margin-right: 15px
}

.feed-item-listing-image p {
  margin: 0;
}

.news-listing-title h2,
.feed-item-listing-title h2 {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.news-teaser-title h2,
.progress-teaser-title h2,
.article-teaser-title h2 {
  padding-bottom: 0;
}

.news-teaser-postdate,
.progress-teaser-postdate {
  margin-bottom: 10px;
}

.event-teaser-readmore,
.news-teaser-readmore,
.news-slide-readmore,
.feed-item-slide-readmore,
.feed-item-listing-readmore,
.progress-teaser-readmore,
.article-teaser-readmore {
  float: right;
  margin-top: 30px;
}

.event-teaser-readmore p,
.news-teaser-readmore p,
.news-slide-readmore p,
.feed-item-slide-readmore p,
.feed-item-listing-readmore p,
.progress-teaser-readmore p, {
  margin-bottom: 0;
}

.news-slide,
.feed-item-slide {
  @include span-columns(4 of 12);
  float: left;
  padding-right: 15px;
  border-right: 1px solid #eee;
  margin-bottom: 15px;

  &:last-child {
    border: 0;
  }

  @include media($small) {
    @include span-columns(12 of 12);
    border-right: 0;
    padding: 0;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
  }
}

/*.views-row-last .news-slide,*/
.views-row-last .feed-item-slide {
  border-right: none;
  margin-right: 0;
}

.views-row-last .news-listing,
.views-row-last .feed-item-listing {
  border-bottom: none;
  margin-bottom: 0;
}

.news-slide-image,
.feed-item-slide-image {

}

.news-slide-postdate,
.feed-item-slide-postdate,
.feed-item-listing-postdate {
  float: left;
}

.news-slide-title,
.feed-item-slide-title {

}

.news-slide-body,
.feed-item-slide-body {
  min-height: 180px;

  @include media($small) {
    min-height: 0;
  }
}

.feed-item-listing {

}

.feed-item-listing-image {

}

.feed-item-listing-title {

}

.news-frontpage-slides {

  @include media($small) {
  }
}

.feed-items-see-all {
  text-align: center;
  clear: left;
  font-size: 16px;
  border-top: 1px solid #eee;
  width: 100%;
  padding-top: 15px;

  @include media($small) {
    margin-bottom: 30px;
  }
}

.news-see-all {
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
  border-top: 1px solid #eee;
}
