.partner-row,
.people-row {
  clear: left;
  float: left;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  padding-bottom: 15px;
  width: 100%;
}

.partner-row.last,
.people-row.last {
  border-bottom: none;
}

.partner-row.last .partner,
.people-row.last .people {
  height: 250px;
}

.partner,
.people {
  @include span-columns(3 of 12);
  border-right: 1px solid #efefef;
  clear: none;
  float: left;
  margin-right: 10px;
  padding-right: 10px;
  padding-top: 10px;

  @include media($menu-switch) {
    @include span-columns(3 of 12);
    @include omega(4n);
  }

  @include media($small) {
    @include span-columns(6 of 12);
    @include omega-reset(4n);
    @include omega(2n);

    &:nth-child(2n) {
      border: 0;
    }
  }
}

.partner.last,
.people.last {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

.partner-logo,
.people-image {
  display: flex;
  height: 120px;
  justify-content: center;
}

.partner-logo-inner,
.people-image-inner {
  align-self: center;
}

.partner-logo-inner img,
.people-image-inner img {
  max-width: 100px;
}

.partner-name,
.people-name {
  text-align: center;
  font-weight: bold;
  margin: 5px 0 5px;
}

.partner-full-name {
  text-align: center;
  font-size: 10px;
  line-height: 1.5;
}

.partner-full-title,
.partner-full-fullname,
.partner-full-country,
.partner-full-website {
}

.partner-full-title {

}

.partner-full-fullname {
  font-weight: bold;
  color: #333;
}

.partner-full-country {
  color: #888;
}

.partner-full-website {

}

.partner-full-logo {
  float: right;
  margin-right: 100px;
}

.partner-full-body {
  clear: both;
  margin-top: 20px;
}

.node-type-profile h1#page-title,
.node-type-partner h1#page-title {
  display: none;
}

.people-full-image {
  float: left;
  margin: 5px 15px 15px 0;
}

.people-full-title {

}

.people-full-partner {

}

.people-full-body {
  clear: left;
  margin-top: 10px;
}
