.node-scientific-article .label-inline {
  float: left;
  font-weight: bold;
}

.article-full-year,
.article-full-authors,
.article-full-conference,
.article-full-journal,
.article-teaser-year,
.article-teaser-authors,
.article-teaser-conference,
.article-teaser-journal {
  margin-bottom: 15px;
}

.article-full-abstract {
  margin: 30px 0 0 0;
}

.article-field-container {
  clear: left;
  margin-bottom: 5px;
}

.article-field {
  margin-left: 75px;
}

.article-full-abstract,
.article-full-attachment,
.article-full-link {

  .label-above {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .file {
    float: left;
    clear: left;}

  margin-bottom: 30px;
}
