#footer {
  min-height: 54px;
  border: none;
  margin-top: 0;

  li a {
  	border-right: none;
  }

	p {
    float: left;
    margin: 16px 0 0;
    color: #fff;
  }

  .copyright {
    /*float: left;
    width: 75%;*/

    @include media($small) {
      text-align: center;
      width: 100%;
    }
  }

  .block-menu-menu-footer-menu {
    float: left;
    margin: 16px 0 0 30px;

 		li {
      border-left: 1px solid #fff;
      float: left;
      margin-left: 8px;
      padding-left: 8px;
      list-style: none;
    }

    li:first-child {
      border: 0;
      margin: 0;
      padding: 0;
    }
	}

  .block-menu-menu-social-menu {
    float: right;
    margin-top: 10px;


    li {
      float: left;
      margin-left: 6px;
      list-style: none;
    }

    li a {
      background: url(../images/social-icons.png) 0 0 no-repeat;
      display: block;
      float: left;
      height: 24px;
      text-indent: -9999px;
      width: 24px;
    }

    a.follow-us-on-twitter {
      background-position: 0 0;
    }

    a.join-us-on-facebook {
      background-position: -34px 0;
    }

    a.connect-with-us-on-linkedin {
      background-position: -68px 0;
    }
  }
}

#footer-wrapper {
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.857em;
  overflow: hidden;
}

#footer-wrapper a {
  color: #fcfcfc;
  color: rgb(255, 255, 255); }

#footer-wrapper a:hover,
#footer-wrapper a:focus {
  color: #fefefe;
  color: rgba(255, 255, 255, 0.95);
  text-decoration: underline; }

#footer-wrapper .block {
  margin: 20px 0;
  border: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 10px; }

#footer-columns .block-menu,
#footer .block {
  margin: 0;
  padding: 0;
  border: none; }

#footer .block {
  margin: 0.5em 0; }

#footer .block .content {
  padding: 0.5em 0;
  margin-top: 0; }

#footer .block h2 {
  margin: 0; }

#footer-columns h2 {
  border-bottom: none;
  color: #fff;
  font-size: 16px;
  margin-bottom: 0;
  padding-bottom: 3px;
  text-transform: uppercase; }

#footer-columns .content {
  margin-top: 0; }

#footer-columns p {
  margin-top: 1em; }

#footer-columns .content ul {
  list-style: none;
  padding-left: 0;
  /* LTR */
  margin-left: 0; }

#footer-columns .content li {
  list-style: none;
  margin: 0;
  padding: 0; }

#footer-columns .content li a {
  display: block;
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  line-height: 1.2;
  padding: 0.8em 2px 0.8em 20px;
  /* LTR */
  text-indent: -15px; }

#footer-columns .content li a:hover,
#footer-columns .content li a:focus {
  background-color: #1f1f21;
  background-color: rgba(255, 255, 255, 0.05);
  text-decoration: none; }

#footer {
  letter-spacing: 0.2px;
  margin-top: 20px;
  padding: 35px 15px 0px; }

#footer .region {
  margin-top: 20px; }

#footer .block {
  clear: both; }

#footer ul,
#footer-wrapper li {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0; }

#footer li a {
  float: left;
  /* LTR */
  padding: 0 12px;
  display: block;
  border-right: 1px solid #555;
  /* LTR */
  border-color: rgba(255, 255, 255, 0.15); }

#footer li.first a {
  padding-left: 0;
  /* LTR */ }

#footer li.last a {
  padding-right: 0;
  /* LTR */
  border-right: none;
  /* LTR */ }

#footer-wrapper tr.odd {
  background-color: transparent; }

#footer-wrapper tr.even {
  background-color: #2c2c2c;
  background-color: rgba(0, 0, 0, 0.15); }

.footer-columns-wrapper {
   }

#footer_firstcolumn,
#footer_secondcolumn,
#footer_thirdcolumn,
#footer_fourthcolumn {
    float: left;
    width: 25%; }

.block-menu-block-3 h2,
.block-block-4 h2 {
  font-weight: 600; }

.footer-contact {
  color: #fff;
  font-weight: 600;
  line-height: 1.5; }

.footer-contact-name {
  font-size: 11pt;
  margin-bottom: -12px; }

.footer-logo {
  border-top: 1px solid;
  padding-top: 20px;
  width: 100%;

  @include media($small) {
    text-align: center;
  }
}

.footer-logo img {
  width: 55px;
  position: relative;
  top: 3px;
  margin-right: 5px;
}

#footer p {
  margin: 0 0 0 5px;

  @include media($small) {
    text-align: center;
    margin: 10px 0 0;
  }
}

.flag-container-footer {
  float: right;
  margin-top: -30px;

  @include media($small) {
    margin: 15px auto;
    float: none;
    text-align: center;
  }
}

.flag-container-footer-helper {

}

.flag-container-footer img {
  width: 60px;
}

.block-boxes-eu-flag-footer {
  margin-top: -10px;

  @include media($small) {
    margin-top: 0;
  }
}
