/*-----------------------------------------------------*/

#header {

  .block-search-form {
    float: right;
    margin: 25px 15px 0 0;
    position: relative;

    @include media($small) {
      display: none;
    }

    .form-submit {
      background: $blue-dark;
      position: absolute;
      right: 1px;
      top: 1px;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: darken($blue-dark, 10%);
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: darken($blue-dark, 10%);
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: darken($blue-dark, 10%);
    }
    :-moz-placeholder { /* Firefox 18- */
      color: darken($blue-dark, 10%);
    }
  }

  &.headhesive--stick .block-search-form {
    display: none;
  }

  #search-block-form {

    input {
      background: #d4e0ac;
      border: 0;
      color: darken($blue-dark, 10%);
      padding: 6px 36px 6px 12px;
      width: 180px;

      &.form-submit {
        margin: 6px 0 0;
        height: 25px;
        width: 34px;
        padding: 0;
        cursor: pointer;
        text-indent: -9999px;
        border-color: 0;
        background: transparent url(../images/search-icon.png) no-repeat center center;
        overflow: hidden;

        &:hover {
          background: transparent url(../images/search-toolbar.png) no-repeat center center;
        }
      }
    }
  }
}

.flag-container-header {
  width: 68px;
  float: right;
  margin-right: 15px;

  @include media($small) {
    display: none;
  }
}

.headhesive .flag-container-header,
.headhesive--stick .flag-container-header {
  margin: 10px 15px 0 0;
  width: 68px;
}

.block-boxes-partners-area {
  float: right;
  margin-right: 15px;
  color: #466e00;
  position: relative;
  top: -14px;
  border-left: 1px solid rgba(255, 255, 255, 0.65098);
  padding-left: 15px;

  @include media($small) {
    display: none;
  }
}

.headhesive--stick .block-boxes-partners-area {
  display: none;
}

.partners-area-title {
  font-size: 16px;
  font-weight: 600;
}

.partners-area-link {

}

.partners-area-link a {
  color: #fff !important;
}