#body-columns-wrapper {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 20px;
}

#body-column-left {
  @include span-columns(8 of 12);
    border-right: 1px solid #eee;
    padding-right: 20px;
    margin-right: 0;

  @include media($small) {
    width: 100%;
    padding: 0;
    border-right: none;
  }
}

#body-column-right {
  @include span-columns(4 of 12);
  padding-left: 20px;

  @include media($small) {
    border-left: none;
    width: 100%;
    padding: 0;
  }
}

#body-column-left h2,
#body-column-right h2 {
  margin-top: 0;
}

.one-sidebar #content {
  @include span-columns(8 of 12);

  @include media($small) {
    width: 100%;
  }
}

.one-sidebar #content .section {
  padding-right: 20px;
}

.one-sidebar.sidebar-second #content {
  border-right: 1px solid #eee;
}

.two-sidebars #content {
  max-width: 600px;

  @include media($small) {
    width: 100%;
  }
}

.no-sidebars #content {
  max-width: 1000px;
  float: none;
}

#sidebar-first,
#sidebar-second {
  @include span-columns(4 of 12);

  @include media($small) {
    width: 100%;
  }
}

#sidebar-second {

}

#header.headhesive {
  display: none;
}

#header.headhesive--stick {
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-image: none;

  @include media($small) {
    display: none !important;
  }

  ul.menu {
    margin: 10px 0 10px;
  }

  #logo {
    float: left;
    width: 150px;
    margin: 5px 0 0;
    outline: 0;
  }
}

@include media($small) {
  #header {
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-image: none;

    .block-menu-block-2 {
      float: left;
    }

    #logo {
      float: left;
      width: 150px;
      margin: 12px 0 0;
    }
  }
}

// Responsive menu
.menu-block-2.menu-name-main-menu {

  @include media($small) {
    @include transform(translateX(300px));
    position: fixed;
    width: 300px;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0 !important;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .open-menu & {
      padding: 60px 0 0 0;
      @include transform(translateX(0));
    }

    a {
      width: 300px;
      display: block;
      margin: 0;
    }

    > ul.menu > li.expanded ul {
      display: block !important;
      position: static !important;
      clear: both;
      margin: 0;
      width: 100% !important;
      box-shadow: none !important;
      background: rgba(0, 0, 0, .2) !important;

      a {
        color: #fff !important;
        background: none !important;
      }
    }
  }
}

#toggle {
  display: block;
  width: 28px;
  height: 30px;
  position: absolute;
  top: 35px;
  right: 25px;
  z-index: 1000;
  display: none;

  @include media($small) {
    display: block;
  }

  .open-menu & {
    right: 255px;
  }
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #fff;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + .block-menu-block-2 .menu {
  opacity: 1;
  visibility: visible;
}

.block-boxes-twitter-feed {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
