.deliverable-listing {
  font-size: 16px;
  margin-bottom: 15px;
}

span.deliverable-listing {
  line-height: 2;
}

.deliverables-page h3 {
  line-height: 1.3;
}

.deliverable-full-attachment,
.progress-full-attachment {

  .label-above {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .file {
    float: left;
    clear: left;}

}
.deliverable-full-body,
.progress-full-body {

}
.deliverable-full-postdate,
.progress-full-postdate {

}
.deliverable-full-work-package,
.milestone-full-work-package {
  padding: 20px 0;
  font-weight: 600;
}
