/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
@font-face {
  font-family: 'titillium_webbold';
  src: url("../fonts/titilliumweb-bold-webfont.eot");
  src: url("../fonts/titilliumweb-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titilliumweb-bold-webfont.woff2") format("woff2"), url("../fonts/titilliumweb-bold-webfont.woff") format("woff"), url("../fonts/titilliumweb-bold-webfont.ttf") format("truetype"), url("../fonts/titilliumweb-bold-webfont.svg#titillium_webbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titillium_webthin';
  src: url("../fonts/titilliumweb-extralight-webfont.eot");
  src: url("../fonts/titilliumweb-extralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titilliumweb-extralight-webfont.woff2") format("woff2"), url("../fonts/titilliumweb-extralight-webfont.woff") format("woff"), url("../fonts/titilliumweb-extralight-webfont.ttf") format("truetype"), url("../fonts/titilliumweb-extralight-webfont.svg#titillium_webthin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titillium_weblight';
  src: url("../fonts/titilliumweb-light-webfont.eot");
  src: url("../fonts/titilliumweb-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titilliumweb-light-webfont.woff2") format("woff2"), url("../fonts/titilliumweb-light-webfont.woff") format("woff"), url("../fonts/titilliumweb-light-webfont.ttf") format("truetype"), url("../fonts/titilliumweb-light-webfont.svg#titillium_weblight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titillium_webregular';
  src: url("../fonts/titilliumweb-regular-webfont.eot");
  src: url("../fonts/titilliumweb-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titilliumweb-regular-webfont.woff2") format("woff2"), url("../fonts/titilliumweb-regular-webfont.woff") format("woff"), url("../fonts/titilliumweb-regular-webfont.ttf") format("truetype"), url("../fonts/titilliumweb-regular-webfont.svg#titillium_webregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'titillium_websemibold';
  src: url("../fonts/titilliumweb-semibold-webfont.eot");
  src: url("../fonts/titilliumweb-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titilliumweb-semibold-webfont.woff2") format("woff2"), url("../fonts/titilliumweb-semibold-webfont.woff") format("woff"), url("../fonts/titilliumweb-semibold-webfont.ttf") format("truetype"), url("../fonts/titilliumweb-semibold-webfont.svg#titillium_websemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* ---------- Overall Specifications ---------- */
body {
  line-height: 1.5;
  font-size: 87.5%;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

a:link,
a:visited {
  text-decoration: none; }

a:hover,
a:active,
a:focus {
  text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.0em 0 0.5em;
  font-weight: inherit; }

h1 {
  font-size: 1.357em;
  color: #000; }

h2 {
  font-size: 1.143em; }

p {
  margin: 0 0 1.2em; }

del {
  text-decoration: line-through; }

img {
  outline: 0; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

code,
pre,
kbd,
samp,
var {
  padding: 0 0.4em;
  font-size: 0.857em;
  font-family: Menlo, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New"; }

code {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06); }

pre code,
pre kbd,
pre samp,
pre var,
kbd kbd,
kbd samp,
code var {
  font-size: 100%;
  background-color: transparent; }

pre code,
pre samp,
pre var {
  padding: 0; }

.description code {
  font-size: 1em; }

kbd {
  background-color: #f2f2f2;
  border: 1px outset #575757;
  margin: 0 3px;
  color: #666;
  display: inline-block;
  padding: 0 6px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

pre {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
  margin: 10px 0;
  overflow: hidden;
  padding: 15px;
  white-space: pre-wrap; }

h4, h5, h6 {
  color: #4b4b4b;
  font-size: 16px; }

h1 {
  margin-bottom: 10px; }

.body ul li,
.field-name-body ul li {
  margin-left: 15px; }

/* ------------------ Fonts ------------------ */
body,
#site-slogan,
.ui-widget,
.comment-form label {
  font-family: "titillium_webregular"; }

#header,
#footer-wrapper,
#skip-link,
ul.contextual-links,
ul.links,
ul.primary,
.item-list .pager,
div.field-type-taxonomy-term-reference,
div.messages,
div.meta,
p.comment-time,
table,
.breadcrumb {
  font-family: "titillium_webregular"; }

input,
textarea,
select,
a.button {
  font-family: "titillium_webregular"; }

/* ------------------ Reset Styles ------------------ */
caption {
  text-align: left;
  /* LTR */
  font-weight: normal; }

blockquote {
  background: #f7f7f7;
  border-left: 1px solid #bbb;
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px; }

blockquote:before {
  color: #bbb;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -.4em; }

blockquote:after {
  color: #bbb;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -.45em; }

blockquote > p:first-child {
  display: inline; }

a.feed-icon {
  display: inline-block;
  padding: 15px 0 0 0; }

/* ------------------ Table Styles ------------------ */
table {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 10px; }
  @media screen and (max-width: 545px) {
    table {
      width: 100%; }
      .node-page table {
        width: auto !important;
        margin: 10px 0;
        max-width: 100%; } }
  table img {
    max-width: 100%;
    height: auto; }

table table {
  font-size: 1em; }

#footer-wrapper table {
  font-size: 1em; }

table tr th {
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  border-bottom-style: none; }

table tr th,
table tr th a,
table tr th a:hover {
  color: #FFF;
  font-weight: bold; }

table tbody tr th {
  vertical-align: top; }

tr td,
tr th {
  padding: 4px 9px;
  border: 1px solid #fff;
  text-align: left;
  /* LTR */ }

#footer-wrapper tr td,
#footer-wrapper tr th {
  border-color: #555;
  border-color: rgba(255, 255, 255, 0.18); }

table ul.links {
  margin: 0;
  padding: 0;
  font-size: 1em; }

table ul.links li {
  padding: 0 1em 0 0; }

/* ------------------ List Styles ------------------ */
.block ol,
.block ul {
  margin: 0;
  padding: 0 0 0.25em 1em;
  /* LTR */ }

.contextual-links-wrapper {
  font-size: small !important; }

ul.contextual-links {
  font-size: 0.923em; }

.contextual-links-wrapper a {
  text-shadow: 0 0 0 !important; }

.item-list .pager {
  font-size: 0.929em; }

ul.menu li {
  margin: 0; }

.region-content ul,
.region-content ol {
  margin: 1em 0;
  padding: 0 0 0.25em 2.5em;
  /* LTR */ }

.item-list ul li {
  margin: 0;
  padding: 0.2em 0.5em 0 0;
  /* LTR */ }

ul.tips {
  padding: 0 0 0 1.25em;
  /* LTR */ }

/* ------------------ Header ------------------ */
#skip-link {
  left: 50%;
  margin-left: -5.25em;
  margin-top: 0;
  position: absolute;
  width: auto;
  z-index: 50; }

#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  font-size: 0.94em;
  line-height: 1.7;
  padding: 1px 10px 2px 10px;
  text-decoration: none;
  -khtml-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px; }

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  outline: 0; }

#logo {
  float: left;
  /* LTR */
  padding: 15px;
  /* LTR */ }

#name-and-slogan {
  float: left;
  /* LTR */
  padding-top: 34px;
  margin: 0 0 30px 15px;
  /* LTR */
  display: none; }

#site-name {
  font-size: 1.821em;
  color: #686868;
  line-height: 1; }

h1#site-name {
  margin: 0;
  height: 0;
  width: 0;
  overflow: hidden; }

#site-name a {
  font-weight: normal; }

#site-slogan {
  font-size: 0.929em;
  margin-top: 7px;
  word-spacing: 0.1em;
  font-style: italic; }

/* Region header blocks. */
.region-header .block {
  font-size: 0.857em;
  float: left;
  /* LTR */
  margin: 0 10px;
  padding: 0; }

.region-header .block .content {
  margin: 0;
  padding: 0; }

.region-header .block ul {
  margin: 0;
  padding: 0; }

.region-header .block li {
  list-style: none;
  list-style-image: none;
  padding: 0; }

.region-header .form-text {
  background: #fefefe;
  background: rgba(255, 255, 255, 0.7);
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.3);
  margin-right: 2px;
  /* LTR */
  width: 120px; }

.region-header .form-text:hover,
.region-header .form-text:focus,
.region-header .form-text:active {
  background: #fff;
  background: rgba(255, 255, 255, 0.8); }

.region-header .form-required {
  color: #eee;
  color: rgba(255, 255, 255, 0.7); }

/* Region header block menus. */
.region-header .block-menu {
  border: 1px solid;
  border-color: #eee;
  border-color: rgba(255, 255, 255, 0.2);
  padding: 0;
  width: 208px; }

.region-header .block-menu li a {
  display: block;
  border-bottom: 1px solid;
  border-bottom-color: #eee;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  padding: 3px 7px; }

.region-header .block-menu li a:hover,
.region-header .block-menu li a:focus,
.region-header .block-menu li a:active {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.15); }

.region-header .block-menu li.last a {
  border-bottom: 0; }

/* User Login block in the header region */
.region-header #block-user-login {
  width: auto; }

.region-header #block-user-login .content {
  margin-top: 2px; }

.region-header #block-user-login .form-item {
  float: left;
  /* LTR */
  margin: 0;
  padding: 0; }

.region-header #block-user-login div.item-list,
.region-header #block-user-login div.description {
  font-size: 0.916em;
  margin: 0; }

.region-header #block-user-login div.item-list {
  clear: both; }

.region-header #block-user-login div.description {
  display: inline; }

.region-header #block-user-login .item-list ul {
  padding: 0;
  line-height: 1; }

.region-header #block-user-login .item-list li {
  list-style: none;
  float: left;
  /* LTR */
  padding: 3px 0 1px; }

.region-header #block-user-login .item-list li.last {
  padding-left: 0.5em;
  /* LTR */ }

.region-header #block-user-login ul.openid-links li.last {
  padding-left: 0;
  /* LTR */ }

.region-header #user-login-form li.openid-link a,
.region-header #user-login li.openid-link a {
  padding-left: 20px;
  /* LTR */ }

.region-header #block-user-login .form-actions {
  margin: 4px 0 0;
  padding: 0;
  clear: both; }

.region-header #block-user-login input.form-submit {
  border: 1px solid;
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.5);
  background: #eee;
  background: rgba(255, 255, 255, 0.7);
  margin: 4px 0;
  padding: 3px 8px; }

.region-header #block-user-login input.form-submit:hover,
.region-header #block-user-login input.form-submit:focus {
  background: #fff;
  background: rgba(255, 255, 255, 0.9); }

/* Search block in region header. */
.region-header #block-search-form {
  width: 208px; }

.region-header #block-search-form .form-text {
  width: 154px; }

/* Language switcher block in region header. */
.region-header .block-locale ul li {
  display: inline;
  padding: 0 0.5em; }

/* --------------- Main Menu ------------ */
.block-system-main-menu, .menu-block-2.menu-name-main-menu {
  clear: both;
  /*  background: $blue-dark;*/
  margin: 0 15px; }
  .block-system-main-menu > ul.menu, .menu-block-2.menu-name-main-menu > ul.menu {
    font-size: 0.929em;
    margin: 20px 0; }
    .block-system-main-menu > ul.menu > li, .menu-block-2.menu-name-main-menu > ul.menu > li {
      float: left;
      /* LTR */
      list-style: none;
      padding: 0;
      border: none; }
      .block-system-main-menu > ul.menu > li a, .menu-block-2.menu-name-main-menu > ul.menu > li a {
        color: #fff;
        text-transform: uppercase;
        float: left;
        /* LTR */
        text-align: center;
        padding: 12px 20px;
        text-decoration: none; }
      .block-system-main-menu > ul.menu > li.expanded, .menu-block-2.menu-name-main-menu > ul.menu > li.expanded {
        position: relative; }
        .block-system-main-menu > ul.menu > li.expanded:hover a, .menu-block-2.menu-name-main-menu > ul.menu > li.expanded:hover a {
          background: #fff;
          color: #466e00; }
        .block-system-main-menu > ul.menu > li.expanded:hover ul, .menu-block-2.menu-name-main-menu > ul.menu > li.expanded:hover ul {
          display: block; }
        .block-system-main-menu > ul.menu > li.expanded ul, .menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul {
          display: none;
          position: absolute;
          z-index: 999;
          left: 0;
          top: 45px;
          width: 285px;
          box-shadow: 2px 4px 8px rgba(0, 65, 85, 0.4);
          opacity: 0.98;
          background: #fff; }
          .block-system-main-menu > ul.menu > li.expanded ul:hover, .menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul:hover {
            display: block; }
          .block-system-main-menu > ul.menu > li.expanded ul li, .menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul li {
            width: 100%;
            list-style: none; }
            .block-system-main-menu > ul.menu > li.expanded ul li a, .menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul li a {
              background: #fff;
              width: 100%;
              text-align: left;
              border: none;
              padding: 10px 20px;
              text-transform: none;
              font-size: 12px; }
              .block-system-main-menu > ul.menu > li.expanded ul li a:hover, .menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul li a:hover {
                text-decoration: underline;
                color: #004155; }

.featured ul.menu li a:active,
.featured ul.menu li a.active {
  background: #f0f0f0; }

/* --------------- Secondary Menu ------------ */
#secondary-menu-links {
  float: right;
  /* LTR */
  font-size: 0.929em;
  margin: 10px 10px 0; }

#secondary-menu-links a:hover,
#secondary-menu-links a:focus {
  text-decoration: underline; }

/* ------------------- Main ------------------- */
#main {
  margin-top: 20px;
  margin-bottom: 40px; }

/* ----------------- Featured ----------------- */
#featured {
  text-align: center;
  font-size: 1.643em;
  font-weight: normal;
  line-height: 1.4;
  padding: 20px 0 45px;
  margin: 0;
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
  border-bottom: 1px solid #e7e7e7;
  text-shadow: 1px 1px #fff; }

#featured h2 {
  font-size: 1.174em;
  line-height: 1; }

#featured p {
  margin: 0;
  padding: 0; }

/* --------------- Highlighted ---------------- */
#highlighted {
  border-bottom: 1px solid #d3d7d9;
  font-size: 120%; }

/* ------------------- Help ------------------- */
.region-help {
  border: 1px solid #d3d7d9;
  padding: 0 1.5em;
  margin-bottom: 30px; }

/* ----------------- Content ------------------ */
.content {
  margin-top: 10px; }

h1#page-title {
  font-size: 2em;
  line-height: 1;
  margin-bottom: 0; }

#content h2 {
  margin-bottom: 2px;
  line-height: 1.2; }

.node .content {
  font-size: 1.071em; }

.list-teaser {
  overflow: auto; }
  .list-teaser .field-name-title {
    margin: -10px 0 10px; }
    .list-teaser .field-name-title h2 {
      padding-top: 0; }
      .list-teaser .field-name-title h2 a {
        font-size: 22px;
        font-weight: 600; }

.list-teaser .content {
  clear: none;
  font-size: 1em;
  line-height: 1.6; }

.node-teaser h2 {
  margin-top: 0;
  padding-top: 0.5em; }

.list-teaser {
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  padding-bottom: 20px; }

.views-row-last .list-teaser {
  border-bottom: none;
  margin-bottom: 0; }

.node-sticky {
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
  border: 1px solid #d3d7d9;
  padding: 0 15px 15px; }

.node-full {
  background: none;
  border: none;
  padding: 0; }

.meta {
  font-size: 0.857em;
  color: #68696b;
  margin-bottom: -5px; }

.submitted .user-picture img {
  float: left;
  /* LTR */
  height: 20px;
  margin: 1px 5px 0 0;
  /* LTR */ }

.field-type-taxonomy-term-reference {
  margin: 0 0 1.2em; }

.field-type-taxonomy-term-reference .field-label {
  font-weight: normal;
  margin: 0;
  padding-right: 5px;
  /* LTR */ }

.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference ul.links {
  font-size: 0.8em; }

.node-teaser .field-type-taxonomy-term-reference .field-label,
.node-teaser .field-type-taxonomy-term-reference ul.links {
  font-size: 0.821em; }

.field-type-taxonomy-term-reference ul.links {
  padding: 0;
  margin: 0;
  list-style: none; }

.field-type-taxonomy-term-reference ul.links li {
  float: left;
  /* LTR */
  padding: 0 1em 0 0;
  /* LTR */
  white-space: nowrap; }

.link-wrapper {
  text-align: right; }

.field-type-image img,
.user-picture img {
  margin: 0 0 1em; }

ul.links {
  color: #68696b;
  font-size: 0.821em; }

.node-unpublished {
  margin: -20px -15px 0;
  padding: 20px 15px 0; }

.node-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4; }

/* ----------------- Comments ----------------- */
.comment h2.title {
  margin-bottom: 1em; }

.comment div.user-picture img {
  margin-left: 0;
  /* LTR */ }

.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top; }

.comment .attribution {
  display: table-cell;
  min-width: 150px;
  padding: 0 30px 0 0;
  /* LTR */
  vertical-align: top;
  overflow: hidden; }

.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9; }

.comment .attribution .username {
  white-space: nowrap; }

.comment .submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2; }

.comment .submitted .comment-time {
  font-size: 0.786em;
  color: #68696b; }

.comment .submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase; }

.comment .content {
  font-size: 0.929em;
  line-height: 1.6; }

.comment .comment-arrow {
  height: 40px;
  margin-left: -47px;
  /* LTR */
  margin-top: 10px;
  position: absolute;
  width: 20px; }

.comment .comment-text {
  padding: 10px 25px;
  border: 1px solid #d3d7d9;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%; }

.comment .indented {
  margin-left: 40px;
  /* LTR */ }

.comment ul.links {
  padding: 0 0 0.25em 0; }

.comment ul.links li {
  padding: 0 0.5em 0 0;
  /* LTR */ }

.comment-unpublished {
  margin-right: 5px;
  /* LTR */
  padding: 5px 2px 5px 5px;
  /* LTR */ }

.comment-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4; }

/* ------------------ Sidebar ----------------- */
.sidebar .section {
  padding: 10px 0 0 0; }
  @media screen and (max-width: 545px) {
    .sidebar .section {
      padding: 0 15px; } }

.sidebar .block {
  border: 1px solid;
  padding: 15px 20px;
  margin: 0 0 20px; }

.sidebar h2 {
  margin: 0 0 0.5em;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 5px;
  text-shadow: 0 1px 0 #fff;
  font-size: 1.071em;
  line-height: 1.2; }

.sidebar .block .content {
  font-size: 0.914em;
  line-height: 1.4; }

.sidebar tbody {
  border: none; }

.sidebar tr.even,
.sidebar tr.odd {
  background: none;
  border-bottom: 1px solid #d6d6d6; }

/* ----------------- Triptych ----------------- */
#triptych-wrapper {
  background-color: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
  border-top: 1px solid #e7e7e7; }

#triptych h2 {
  color: #000;
  font-size: 1.714em;
  margin-bottom: 0.8em;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  line-height: 1; }

#triptych .block {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #dfdfdf;
  line-height: 1.3; }

#triptych .block.last {
  border-bottom: none; }

#triptych .block ul li,
#triptych .block ol li {
  list-style: none; }

#triptych .block ul,
#triptych .block ol {
  padding-left: 0; }

#triptych #block-user-login .form-text {
  width: 185px; }

#triptych #block-user-online p {
  margin-bottom: 0; }

#triptych #block-node-syndicate h2 {
  overflow: hidden;
  width: 0;
  height: 0; }

#triptych-last #block-node-syndicate {
  text-align: right; }

#triptych #block-search-form .form-type-textfield input {
  width: 185px; }

#triptych-middle #block-system-powered-by {
  text-align: center; }

#triptych-last #block-system-powered-by {
  text-align: right; }

/* ------------------ Footer ------------------ */
#footer-wrapper {
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.857em; }

#footer-wrapper a {
  color: #fcfcfc;
  color: rgba(255, 255, 255, 0.8); }

#footer-wrapper a:hover,
#footer-wrapper a:focus {
  color: #fefefe;
  color: rgba(255, 255, 255, 0.95);
  text-decoration: underline; }

#footer-wrapper .block {
  margin: 20px 0;
  border: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 10px; }

#footer-columns .block-menu,
#footer .block {
  margin: 0;
  padding: 0;
  border: none; }

#footer .block {
  margin: 0.5em 0; }

#footer .block .content {
  padding: 0.5em 0;
  margin-top: 0; }

#footer .block h2 {
  margin: 0; }

#footer-columns h2 {
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 1em;
  margin-bottom: 0;
  padding-bottom: 3px;
  text-transform: uppercase; }

#footer-columns .content {
  margin-top: 0; }

#footer-columns p {
  margin-top: 1em; }

#footer-columns .content ul {
  list-style: none;
  padding-left: 0;
  /* LTR */
  margin-left: 0; }

#footer-columns .content li {
  list-style: none;
  margin: 0;
  padding: 0; }

#footer-columns .content li a {
  display: block;
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  line-height: 1.2;
  padding: 0.8em 2px 0.8em 20px;
  /* LTR */
  text-indent: -15px; }

#footer-columns .content li a:hover,
#footer-columns .content li a:focus {
  background-color: #1f1f21;
  background-color: rgba(255, 255, 255, 0.05);
  text-decoration: none; }

#footer {
  letter-spacing: 0.2px;
  margin-top: 30px;
  border-top: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15); }

#footer .region {
  margin-top: 20px; }

#footer .block {
  clear: both; }

#footer ul,
#footer li {
  list-style: none;
  margin: 0;
  padding: 0; }

#footer li a {
  float: left;
  /* LTR */
  padding: 0 12px;
  display: block;
  border-right: 1px solid #555;
  /* LTR */
  border-color: rgba(255, 255, 255, 0.15); }

#footer li.first a {
  padding-left: 0;
  /* LTR */ }

#footer li.last a {
  padding-right: 0;
  /* LTR */
  border-right: none;
  /* LTR */ }

#footer-wrapper tr.odd {
  background-color: transparent; }

#footer-wrapper tr.even {
  background-color: #2c2c2c;
  background-color: rgba(0, 0, 0, 0.15); }

/* --------------- System Tabs  --------------- */
.tabs {
  font-family: "titillium_webregular";
  margin-bottom: 20px; }

.tabs ul.primary {
  padding: 0;
  margin: 0;
  overflow: hidden;
  border: none; }

.tabs ul.primary li {
  display: block;
  float: left;
  /* LTR */
  vertical-align: bottom;
  border: none;
  margin: 0 5px 0 0;
  /* LTR */ }

.tabs ul.primary li.active a {
  margin-bottom: -1px;
  background: #fff; }

.tabs ul.primary li a {
  color: #fff;
  padding: 8px 20px;
  display: block;
  font-size: 0.929em;
  float: left;
  /* not LTR */
  margin: 0; }

.tabs ul.primary li a:hover {
  background: #466e00; }

.tabs ul.primary li.active a {
  background-color: #f3f3f5;
  border: 1px solid #e1e1e3;
  color: #000; }

.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0; }

.tabs ul.secondary li {
  display: block;
  float: left;
  /* LTR */ }

.tabs ul.secondary li:last-child {
  border-right: none;
  /* LTR */ }

.tabs ul.secondary li:first-child {
  padding-left: 0;
  /* LTR */ }

.tabs ul.secondary li a {
  padding: 0.25em 0.5em; }

.tabs ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none; }

ul.action-links {
  list-style: none;
  margin: 5px;
  padding: 0.5em 1em; }

ul.action-links li {
  display: inline-block;
  margin-left: 10px; }

ul.action-links li a {
  padding-left: 15px;
  background: url(../images/add.png) no-repeat left center;
  margin: 0 10px 0 0; }

/* ---------------- Messages  ----------------- */
#messages {
  padding: 20px 0 5px;
  margin: 0 auto; }

.featured #messages {
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08); }

div.messages {
  margin: 8px 15px; }

/* -------------- Breadcrumbs   -------------- */
.breadcrumb {
  font-size: 0.929em; }

/* -------------- User Profile   -------------- */
.profile .user-picture {
  float: none; }

/* -------------- Password Meter  ------------- */
.confirm-parent,
.password-parent {
  width: 34em; }

.password-parent,
div.form-item div.password-suggestions {
  position: relative; }

.password-strength-text,
.password-strength-title,
div.password-confirm {
  font-size: 0.82em; }

.password-strength-text {
  margin-top: 0.2em; }

div.password-confirm {
  margin-top: 2.2em;
  width: 20.73em; }

/* ---------------- Buttons    ---------------- */
input.form-submit,
a.button {
  background: #fff url(../images/buttons.png) 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em;
  /* LTR */
  padding: 4px 17px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 15px;
  border-radius: 15px; }

a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
  text-decoration: none;
  color: #5a5a5a; }

/* -------------- Form Elements   ------------- */
fieldset {
  background: #ffffff;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 0 0 10px;
  position: relative;
  top: 12px;
  /* Offsets the negative margin of legends */
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.fieldset-wrapper {
  margin-top: 25px; }

.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0; }

.filter-wrapper {
  top: 0;
  padding: 1em 0 0.2em;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.filter-help a {
  font-size: 0.857em;
  padding: 2px 20px 0; }

.filter-wrapper .form-item label {
  margin-right: 10px; }

.filter-wrapper .form-item {
  padding: 0 0 0.5em 0.5em; }

.filter-guidelines {
  padding: 0 1.5em 0 0.5em; }

fieldset.collapsed {
  background: transparent;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

fieldset legend {
  background: #dbdbdb;
  border: 1px solid #ccc;
  border-bottom: none;
  color: #3b3b3b;
  display: block;
  height: 2em;
  left: -1px;
  /* LTR */
  font-family: "titillium_webregular";
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  text-shadow: 0 1px 0 #fff;
  top: -12px;
  width: 100%;
  -khtml-border-radius-topleft: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px; }

fieldset.collapsed legend {
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

fieldset legend a {
  color: #3b3b3b; }

fieldset legend a:hover,
fieldset legend a:focus,
fieldset legend a:active {
  color: #000; }

fieldset .fieldset-wrapper {
  padding: 0 10px; }

fieldset .fieldset-description {
  margin-top: 5px;
  margin-bottom: 1em;
  line-height: 1.4;
  color: #3c3c3c;
  font-style: italic; }

input {
  margin: 2px 0;
  padding: 4px; }

input,
textarea {
  font-size: 0.929em; }

textarea {
  line-height: 1.5; }

textarea.form-textarea,
select.form-select {
  padding: 4px; }

input.form-text,
textarea.form-textarea,
select.form-select {
  border: 1px solid #ccc; }

input.form-submit:hover,
input.form-submit:focus {
  background: #dedede; }

.password-suggestions ul li {
  margin-left: 1.2em;
  /* LTR */ }

.form-item {
  margin-bottom: 1em;
  margin-top: 2px; }

.form-item label {
  font-size: 0.929em; }

.form-type-radio label,
.form-type-checkbox label {
  margin-left: 4px; }

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2px; }

.form-actions {
  padding-top: 10px; }

/* Contact Form */
.contact-form #edit-name {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  @media screen and (max-width: 545px) {
    .contact-form #edit-name {
      width: 100%; } }

.contact-form #edit-mail {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  @media screen and (max-width: 545px) {
    .contact-form #edit-mail {
      width: 100%; } }

.contact-form #edit-subject {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  @media screen and (max-width: 545px) {
    .contact-form #edit-subject {
      width: 100%; } }

.contact-form #edit-message {
  width: 76.3%;
  -khtml-border-top-left-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
  @media screen and (max-width: 545px) {
    .contact-form #edit-message {
      width: 100%; } }

.contact-form .resizable-textarea .grippie {
  width: 76%;
  -khtml-border-bottom-left-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }
  @media screen and (max-width: 545px) {
    .contact-form .resizable-textarea .grippie {
      width: 100%; } }

/* Disabled form elements */
input.form-button-disabled,
input.form-button-disabled:hover,
input.form-button-disabled:focus,
input.form-button-disabled:active,
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
  background: #ededed;
  border-color: #bbb;
  color: #717171; }

.form-disabled .grippie {
  background-color: #ededed;
  border-color: #bbb; }

.form-disabled label {
  color: #717171; }

/* Animated throbber */
html.js input.form-autocomplete {
  background-position: 100% 4px;
  /* LTR */ }

html.js input.throbbing {
  background-position: 100% -16px;
  /* LTR */ }

/* Comment form */
.comment-form label {
  float: left;
  /* LTR */
  font-size: 0.929em;
  width: 120px; }

.comment-form input,
.comment-form .form-select {
  margin: 0;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.comment-form .form-type-textarea label {
  float: none; }

.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select {
  margin-bottom: 10px;
  overflow: hidden; }

.comment-form .form-type-checkbox,
.comment-form .form-radios {
  margin-left: 120px;
  /* LTR */ }

.comment-form .form-type-checkbox label,
.comment-form .form-radios label {
  float: none;
  margin-top: 0; }

.comment-form input.form-file {
  width: auto; }

.no-sidebars .comment-form .form-text {
  width: 800px; }

.one-sidebar .comment-form .form-text {
  width: 500px; }

.two-sidebars .comment-form .form-text {
  width: 320px; }

.comment-form .form-item .description {
  font-size: 0.786em;
  line-height: 1.2;
  margin-left: 120px;
  /* LTR */ }

#content h2.comment-form {
  margin-bottom: 0.5em; }

.comment-form .form-textarea {
  -khtml-border-radius-topleft: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.comment-form fieldset.filter-wrapper .fieldset-wrapper,
.comment-form .text-format-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0; }

.filter-wrapper label {
  width: auto;
  float: none; }

.filter-wrapper .form-select {
  min-width: 120px; }

.comment-form fieldset.filter-wrapper .tips {
  font-size: 0.786em; }

#comment-body-add-more-wrapper .form-type-textarea label {
  margin-bottom: 0.4em; }

#edit-actions input {
  margin-right: 0.6em;
  /* LTR */ }

/* -------------- Other Overrides ------------- */
div.password-suggestions {
  border: 0; }

.ui-widget-overlay {
  background: #222222;
  opacity: 0.7; }

div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  padding: 1em; }

#forum .name {
  font-size: 1.083em; }

#forum .description {
  font-size: 1em; }

/* --------------- Search Form ---------------- */
#block-search-form {
  padding-bottom: 7px; }

#block-search-form .content {
  margin-top: 0; }

#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
  float: left;
  /* LTR */
  font-size: 1em;
  margin-right: 5px;
  width: 9em; }

#search-form input {
  padding: 6px 12px; }
  #search-form input .form-submit {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    cursor: pointer;
    border-color: #e4e4e4 #d2d2d2 #b4b4b4;
    background: #466e00;
    overflow: hidden; }

#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:focus,
#search-form input.form-submit:hover,
#search-form input.form-submit:focus {
  background-position: center bottom; }

#search-form .form-item-keys label {
  display: block; }

/* --------------- Search Results ---------------- */
ol.search-results {
  padding-left: 0; }

.search-results li {
  padding-bottom: 0.4285em;
  margin-bottom: 0.5em; }

.search-results li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 1em; }

.search-results .search-snippet-info {
  padding-left: 0; }

/* -------------- Shortcut Links -------------- */
.shortcut-wrapper {
  margin: 2.2em 0 1.1em 0;
  /* Same as usual h1#page-title margin. */ }

.shortcut-wrapper h1#page-title {
  float: left;
  /* LTR */
  margin: 0; }

div.add-or-remove-shortcuts {
  padding-top: 0.9em; }

.overlay div.add-or-remove-shortcuts {
  padding-top: 0.8em; }

/* ---------- Admin-specific Theming ---------- */
.page-admin #content img {
  margin-right: 15px;
  /* LTR */ }

.page-admin #content .simpletest-image img {
  margin: 0; }

.page-admin-structure-block-demo .block-region {
  background: #ffff66;
  border: 1px dotted #9f9e00;
  color: #000;
  font: 90% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-shadow: none; }

.page-admin-structure-block-demo #featured .block-region {
  font-size: 0.55em; }

.page-admin-structure-block-demo #header .block-region {
  width: 500px; }

.page-admin #admin-dblog img {
  margin: 0 5px; }

/* Fix spacing when Seven is used in the overlay. */
#system-theme-settings fieldset {
  padding: 0; }

#system-theme-settings fieldset .fieldset-legend {
  margin-top: 0; }

/* Configuration. */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0; }

div.admin-panel {
  background: #fbfbfb;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 0 5px 5px; }

div.admin-panel h3 {
  margin: 16px 7px; }

div.admin-panel dt {
  border-top: 1px solid #ccc;
  padding: 7px 0 0; }

div.admin-panel dd {
  margin: 0 0 10px; }

div.admin-panel .description {
  margin: 0 0 14px 7px; }

/* ---------- Overlay layout styles ----------- */
.overlay #main,
.overlay #content {
  width: auto;
  float: none; }

.overlay #page {
  padding: 0 2em; }

.overlay .region-page-top,
.overlay #header,
.overlay #page-title,
.overlay #featured,
.overlay #sidebar-first,
.overlay #triptych-wrapper,
.overlay #footer-wrapper {
  display: none; }

.overlay-processed .field-type-image {
  display: block;
  float: none; }

.overlay #messages {
  width: auto; }

/* ---------- Poll ----------- */
.node .poll {
  margin: 2em 0; }

.node .poll #edit-choice {
  margin: 0 0 1.5em; }

.poll .vote-form {
  text-align: left;
  /* LTR */ }

.poll .vote-form .choices {
  margin: 0; }

.poll .percent {
  font-size: 0.857em;
  font-style: italic;
  margin-bottom: 3em;
  margin-top: -3.2em;
  float: right;
  text-align: right; }

.poll .text {
  clear: right;
  margin-right: 2.25em; }

.poll .total {
  font-size: 0.929em;
  font-style: italic;
  text-align: right;
  /* LTR */
  clear: both; }

.node .poll {
  margin: 1.8em 0 0; }

.node .poll .text {
  margin-right: 6.75em; }

.node .poll #edit-choice {
  margin: 0 0 1.2em; }

.poll .bar .foreground {
  background-color: #666; }

#footer-wrapper .poll .bar {
  background-color: #666; }

#footer-wrapper .poll .bar .foreground {
  background-color: #ddd; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

body {
  font-size: 14px;
  line-height: 21px; }
  @media screen and (max-width: 545px) {
    body {
      padding-top: 75px; } }

a {
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset {
  font-family: "titillium_webregular";
  font-size: 14px;
  line-height: 21px; }

html {
  font-size: 62.5%;
  min-height: 100%; }

input,
form,
select,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  border-radius: 0px;
  border: 0px;
  outline: none; }

button,
input[type=submit] {
  border: 0px; }

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

::selection,
::-moz-selection {
  background: #9cbc26;
  color: #fff; }

#toolbar-menu,
#admin-menu {
  background-color: #101010; }

#toolbar,
#admin-menu {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }
  #toolbar a,
  #admin-menu a {
    transition: none;
    webkit-transition: none;
    -moz-transition: none; }

img {
  max-width: 100%;
  height: auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "titillium_webregular";
  color: #9cbc26;
  padding-bottom: 10px; }

h1 {
  font-size: 34px;
  line-height: 40.8px;
  font-weight: 300;
  margin: 20px 0 30px; }

h2 {
  font-size: 28px;
  line-height: 33.6px;
  font-weight: 300;
  margin-bottom: 0.5em; }

h3 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 0.5em; }

h4,
h5,
h6 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.3em; }

input[type="submit"] {
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #FFF;
  background: #1ea5d7;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in; }
  input[type="submit"]:hover {
    background: #126381; }
input.small-add {
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #FFF;
  background: #1ea5d7;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in; }
  input.small-add:hover {
    background: #126381; }
input.edit {
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 600;
  font-size: 14px;
  color: #FFF;
  background: #1ea5d7;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in; }
  input.edit:hover {
    background: #126381; }

.body ul,
.field-name-body ul {
  margin-left: 20px; }
  .body ul ul,
  .field-name-body ul ul {
    margin-left: 15px; }
  .body ul li,
  .field-name-body ul li {
    margin-bottom: 15px;
    list-style-type: none; }
  .body ul li:before,
  .field-name-body ul li:before {
    /* For a round bullet */
    /* For a square bullet */
    content: '\25A0';
    display: block;
    position: relative;
    max-width: 0;
    max-height: 0;
    left: -20px;
    top: -2px;
    color: #9cbc26;
    font-size: 14px; }

ol {
  counter-reset: li;
  /* Initiate a counter */
  margin-left: 0;
  /* Remove the default left margin */
  padding-left: 0;
  /* Remove the default left padding */ }
  ol > li {
    position: relative;
    /* Create a positioning context */
    margin: 0 0 6px 2em;
    /* Give each list item a left margin to make room for the numbers */
    padding: 4px 8px;
    /* Add some spacing around the content */
    list-style: none;
    /* Disable the normal item numbering */
    border-top: 2px solid #9cbc26; }
  ol > li:before {
    content: counter(li);
    /* Use the counter as content */
    counter-increment: li;
    /* Increment the counter by 1 */
    /* Position and style the number */
    position: absolute;
    top: -2px;
    left: -2em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right: 8px;
    padding: 4px;
    border-top: 2px solid #9cbc26;
    color: #fff;
    background: #9cbc26;
    font-family: "titillium_webbold";
    text-align: center; }

.sidebar ul li a:hover {
  background: #eee;
  text-decoration: none; }

form #edit-submit {
  display: inline-block;
  background: #1ea5d7;
  margin-right: 5px;
  color: white;
  font-weight: 600;
  padding: 7px 20px;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
  -webkit-appearance: none; }
  form #edit-submit:hover {
    background: #126381; }
form #edit-preview {
  display: inline-block;
  background: #1ea5d7;
  margin-right: 5px;
  color: white;
  font-weight: 600;
  padding: 5px 20px;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in; }
  form #edit-preview:hover {
    background: #126381; }
form #edit-preview-changes {
  display: inline-block;
  background: #919194;
  margin-right: 5px;
  color: white;
  font-weight: 600;
  padding: 5px 20px;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in; }
  form #edit-preview-changes:hover {
    background: #575759; }
form #edit-delete {
  display: inline-block;
  background: #cc0000;
  margin-right: 5px;
  color: white;
  font-weight: 600;
  padding: 5px 20px;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in; }
  form #edit-delete:hover {
    background: maroon; }

label {
  font-weight: bold; }

input.form-text,
.comment-form input.form-text {
  border: 1px solid #e1e1e3;
  padding: 5px 10px;
  background-color: #FBFBFB;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

@media screen and (max-width: 545px) {
  #sidebar-second,
  #sidebar-first {
    max-width: none;
    width: 100%; } }

.sidebar .section > div {
  margin-bottom: 30px; }
.sidebar ul {
  list-style: none; }
  .sidebar ul li {
    font-size: 11px;
    line-height: 15px;
    margin: 0;
    padding: 0;
    list-style: none; }
    .sidebar ul li.expanded > a {
      background: #eee;
      color: #004155;
      font-weight: bold; }
    .sidebar ul li a {
      background: #9cbc26;
      color: #fff;
      display: block;
      font-family: "titillium_webregular";
      font-size: 11px;
      line-height: 15px;
      margin-top: 1px;
      padding: 10px 14px;
      text-transform: uppercase; }
      .sidebar ul li a:hover {
        background: #eee;
        color: #004155;
        text-decoration: none; }
      .sidebar ul li a.active-trail {
        color: #004155; }
      .sidebar ul li a.active {
        font-weight: bold; }
    .sidebar ul li li a {
      background: #eee;
      border: 0;
      color: #466e40;
      font-size: 11px;
      line-height: 14px;
      margin: 0;
      padding-left: 30px;
      padding-top: 0;
      text-transform: none; }
      .sidebar ul li li a:hover {
        color: #004155; }

.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden; }

.block-block-3 {
  margin-top: 30px;
  border-top: 1px solid #eee;
  padding-top: 15px; }

.collaborator {
  float: left;
  width: 18%;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #eee; }

.collaborator.last {
  padding-right: none;
  margin-right: none;
  border-right: none; }

.collaborator-logo {
  height: 150px; }

.logo-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.collaborator-logo img {
  vertical-align: middle; }

.collaborator-title {
  text-align: center; }

/* --------------- Events -------------- */
@media screen and (max-width: 545px) {
  .block-views-events-block {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px; } }

.events-intro {
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px; }

.previous-events {
  opacity: 0.5;
  margin-top: 30px; }

.node-event.view-mode-full img,
.node-news.view-mode-full img,
.node-progress.view-mode-full img,
.node-article.view-mode-full img {
  max-width: 100%; }
.node-event.view-mode-teaser,
.node-news.view-mode-teaser,
.node-progress.view-mode-teaser,
.node-article.view-mode-teaser {
  overflow: auto; }

.view-mode-teaser .field-name-field-image, .view-mode-teaser
.field-name-field-event-image {
  float: left;
  margin-right: 15px;
  max-width: 250px; }
  @media screen and (max-width: 545px) {
    .view-mode-teaser .field-name-field-image, .view-mode-teaser
    .field-name-field-event-image {
      float: none;
      margin: 0;
      max-width: 600px;
      margin-bottom: 15px; }
      .view-mode-teaser .field-name-field-image img, .view-mode-teaser
      .field-name-field-event-image img {
        max-width: none;
        width: 100%;
        height: auto; } }

.event-teaser-date {
  font-size: 16px;
  font-weight: bold;
  color: #666; }

.event-teaser-date .date-display-range,
.event-listing-date .date-display-range {
  display: inline;
  font-weight: normal; }

.event-teaser-body {
  margin-top: 15px;
  clear: left;
  display: inline-block; }

.event-full-date {
  font-size: 16px;
  font-weight: bold;
  color: #666;
  margin-bottom: 15px; }

.event-full-date .date-display-range {
  display: inline;
  font-weight: normal; }

.event-full-date .label-inline,
.event-full-location .label-inline {
  float: left;
  font-weight: normal; }

.event-full-location,
.event-full-attachment {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px; }

.event-full-map {
  border: 1px solid #ddd;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  padding: 4px;
  height: 210px;
  width: 360px;
  margin-bottom: 30px;
  float: right; }

.event-full-attachment .label-inline {
  float: left; }

.event-full-body {
  margin-top: 15px; }

.event-listing {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee; }

.views-row-last .event-listing {
  border-bottom: none; }

.event-listing-title h2 {
  border-bottom: none;
  font-size: 16px; }

.block-views-events-block-1 {
  border-top: 1px solid #eee; }

#footer {
  min-height: 54px;
  border: none;
  margin-top: 0; }
  #footer li a {
    border-right: none; }
  #footer p {
    float: left;
    margin: 16px 0 0;
    color: #fff; }
  #footer .copyright {
    /*float: left;
    width: 75%;*/ }
    @media screen and (max-width: 545px) {
      #footer .copyright {
        text-align: center;
        width: 100%; } }
  #footer .block-menu-menu-footer-menu {
    float: left;
    margin: 16px 0 0 30px; }
    #footer .block-menu-menu-footer-menu li {
      border-left: 1px solid #fff;
      float: left;
      margin-left: 8px;
      padding-left: 8px;
      list-style: none; }
    #footer .block-menu-menu-footer-menu li:first-child {
      border: 0;
      margin: 0;
      padding: 0; }
  #footer .block-menu-menu-social-menu {
    float: right;
    margin-top: 10px; }
    #footer .block-menu-menu-social-menu li {
      float: left;
      margin-left: 6px;
      list-style: none; }
    #footer .block-menu-menu-social-menu li a {
      background: url(../images/social-icons.png) 0 0 no-repeat;
      display: block;
      float: left;
      height: 24px;
      text-indent: -9999px;
      width: 24px; }
    #footer .block-menu-menu-social-menu a.follow-us-on-twitter {
      background-position: 0 0; }
    #footer .block-menu-menu-social-menu a.join-us-on-facebook {
      background-position: -34px 0; }
    #footer .block-menu-menu-social-menu a.connect-with-us-on-linkedin {
      background-position: -68px 0; }

#footer-wrapper {
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.857em;
  overflow: hidden; }

#footer-wrapper a {
  color: #fcfcfc;
  color: white; }

#footer-wrapper a:hover,
#footer-wrapper a:focus {
  color: #fefefe;
  color: rgba(255, 255, 255, 0.95);
  text-decoration: underline; }

#footer-wrapper .block {
  margin: 20px 0;
  border: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 10px; }

#footer-columns .block-menu,
#footer .block {
  margin: 0;
  padding: 0;
  border: none; }

#footer .block {
  margin: 0.5em 0; }

#footer .block .content {
  padding: 0.5em 0;
  margin-top: 0; }

#footer .block h2 {
  margin: 0; }

#footer-columns h2 {
  border-bottom: none;
  color: #fff;
  font-size: 16px;
  margin-bottom: 0;
  padding-bottom: 3px;
  text-transform: uppercase; }

#footer-columns .content {
  margin-top: 0; }

#footer-columns p {
  margin-top: 1em; }

#footer-columns .content ul {
  list-style: none;
  padding-left: 0;
  /* LTR */
  margin-left: 0; }

#footer-columns .content li {
  list-style: none;
  margin: 0;
  padding: 0; }

#footer-columns .content li a {
  display: block;
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  line-height: 1.2;
  padding: 0.8em 2px 0.8em 20px;
  /* LTR */
  text-indent: -15px; }

#footer-columns .content li a:hover,
#footer-columns .content li a:focus {
  background-color: #1f1f21;
  background-color: rgba(255, 255, 255, 0.05);
  text-decoration: none; }

#footer {
  letter-spacing: 0.2px;
  margin-top: 20px;
  padding: 35px 15px 0px; }

#footer .region {
  margin-top: 20px; }

#footer .block {
  clear: both; }

#footer ul,
#footer-wrapper li {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0; }

#footer li a {
  float: left;
  /* LTR */
  padding: 0 12px;
  display: block;
  border-right: 1px solid #555;
  /* LTR */
  border-color: rgba(255, 255, 255, 0.15); }

#footer li.first a {
  padding-left: 0;
  /* LTR */ }

#footer li.last a {
  padding-right: 0;
  /* LTR */
  border-right: none;
  /* LTR */ }

#footer-wrapper tr.odd {
  background-color: transparent; }

#footer-wrapper tr.even {
  background-color: #2c2c2c;
  background-color: rgba(0, 0, 0, 0.15); }

#footer_firstcolumn,
#footer_secondcolumn,
#footer_thirdcolumn,
#footer_fourthcolumn {
  float: left;
  width: 25%; }

.block-menu-block-3 h2,
.block-block-4 h2 {
  font-weight: 600; }

.footer-contact {
  color: #fff;
  font-weight: 600;
  line-height: 1.5; }

.footer-contact-name {
  font-size: 11pt;
  margin-bottom: -12px; }

.footer-logo {
  border-top: 1px solid;
  padding-top: 20px;
  width: 100%; }
  @media screen and (max-width: 545px) {
    .footer-logo {
      text-align: center; } }

.footer-logo img {
  width: 55px;
  position: relative;
  top: 3px;
  margin-right: 5px; }

#footer p {
  margin: 0 0 0 5px; }
  @media screen and (max-width: 545px) {
    #footer p {
      text-align: center;
      margin: 10px 0 0; } }

.flag-container-footer {
  float: right;
  margin-top: -30px; }
  @media screen and (max-width: 545px) {
    .flag-container-footer {
      margin: 15px auto;
      float: none;
      text-align: center; } }

.flag-container-footer img {
  width: 60px; }

.block-boxes-eu-flag-footer {
  margin-top: -10px; }
  @media screen and (max-width: 545px) {
    .block-boxes-eu-flag-footer {
      margin-top: 0; } }

/*-----------------------------------------------------*/
#header .block-search-form {
  float: right;
  margin: 25px 15px 0 0;
  position: relative; }
  @media screen and (max-width: 545px) {
    #header .block-search-form {
      display: none; } }
  #header .block-search-form .form-submit {
    background: #466e00;
    position: absolute;
    right: 1px;
    top: 1px; }
  #header .block-search-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #263b00; }
  #header .block-search-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #263b00; }
  #header .block-search-form :-ms-input-placeholder {
    /* IE 10+ */
    color: #263b00; }
  #header .block-search-form :-moz-placeholder {
    /* Firefox 18- */
    color: #263b00; }
#header.headhesive--stick .block-search-form {
  display: none; }
#header #search-block-form input {
  background: #d4e0ac;
  border: 0;
  color: #263b00;
  padding: 6px 36px 6px 12px;
  width: 180px; }
  #header #search-block-form input.form-submit {
    margin: 6px 0 0;
    height: 25px;
    width: 34px;
    padding: 0;
    cursor: pointer;
    text-indent: -9999px;
    border-color: 0;
    background: transparent url(../images/search-icon.png) no-repeat center center;
    overflow: hidden; }
    #header #search-block-form input.form-submit:hover {
      background: transparent url(../images/search-toolbar.png) no-repeat center center; }

.flag-container-header {
  width: 68px;
  float: right;
  margin-right: 15px; }
  @media screen and (max-width: 545px) {
    .flag-container-header {
      display: none; } }

.headhesive .flag-container-header,
.headhesive--stick .flag-container-header {
  margin: 10px 15px 0 0;
  width: 68px; }

.block-boxes-partners-area {
  float: right;
  margin-right: 15px;
  color: #466e00;
  position: relative;
  top: -14px;
  border-left: 1px solid rgba(255, 255, 255, 0.65098);
  padding-left: 15px; }
  @media screen and (max-width: 545px) {
    .block-boxes-partners-area {
      display: none; } }

.headhesive--stick .block-boxes-partners-area {
  display: none; }

.partners-area-title {
  font-size: 16px;
  font-weight: 600; }

.partners-area-link a {
  color: #fff !important; }

#body-columns-wrapper {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 20px; }

#body-column-left {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  border-right: 1px solid #eee;
  padding-right: 20px;
  margin-right: 0; }
  #body-column-left:last-child {
    margin-right: 0; }
  @media screen and (max-width: 545px) {
    #body-column-left {
      width: 100%;
      padding: 0;
      border-right: none; } }

#body-column-right {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  padding-left: 20px; }
  #body-column-right:last-child {
    margin-right: 0; }
  @media screen and (max-width: 545px) {
    #body-column-right {
      border-left: none;
      width: 100%;
      padding: 0; } }

#body-column-left h2,
#body-column-right h2 {
  margin-top: 0; }

.one-sidebar #content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .one-sidebar #content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 545px) {
    .one-sidebar #content {
      width: 100%; } }

.one-sidebar #content .section {
  padding-right: 20px; }

.one-sidebar.sidebar-second #content {
  border-right: 1px solid #eee; }

.two-sidebars #content {
  max-width: 600px; }
  @media screen and (max-width: 545px) {
    .two-sidebars #content {
      width: 100%; } }

.no-sidebars #content {
  max-width: 1000px;
  float: none; }

#sidebar-first,
#sidebar-second {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  #sidebar-first:last-child,
  #sidebar-second:last-child {
    margin-right: 0; }
  @media screen and (max-width: 545px) {
    #sidebar-first,
    #sidebar-second {
      width: 100%; } }

#header.headhesive {
  display: none; }

#header.headhesive--stick {
  display: block !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-image: none; }
  @media screen and (max-width: 545px) {
    #header.headhesive--stick {
      display: none !important; } }
  #header.headhesive--stick ul.menu {
    margin: 10px 0 10px; }
  #header.headhesive--stick #logo {
    float: left;
    width: 150px;
    margin: 5px 0 0;
    outline: 0; }

@media screen and (max-width: 545px) {
  #header {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-image: none; }
    #header .block-menu-block-2 {
      float: left; }
    #header #logo {
      float: left;
      width: 150px;
      margin: 12px 0 0; } }
@media screen and (max-width: 545px) {
  .menu-block-2.menu-name-main-menu {
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
    transform: translateX(300px);
    position: fixed;
    width: 300px;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0 !important;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; }
    .open-menu .menu-block-2.menu-name-main-menu {
      padding: 60px 0 0 0;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
    .menu-block-2.menu-name-main-menu a {
      width: 300px;
      display: block;
      margin: 0; }
    .menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul {
      display: block !important;
      position: static !important;
      clear: both;
      margin: 0;
      width: 100% !important;
      box-shadow: none !important;
      background: rgba(0, 0, 0, 0.2) !important; }
      .menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul a {
        color: #fff !important;
        background: none !important; } }

#toggle {
  display: block;
  width: 28px;
  height: 30px;
  position: absolute;
  top: 35px;
  right: 25px;
  z-index: 1000;
  display: none; }
  @media screen and (max-width: 545px) {
    #toggle {
      display: block; } }
  .open-menu #toggle {
    right: 255px; }

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px; }

#toggle span:after {
  top: 9px; }

#toggle span {
  position: relative;
  display: block; }

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #fff;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px; }

/* on activation */
#toggle.on span {
  background-color: transparent; }

#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px); }

#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px); }

#toggle.on + .block-menu-block-2 .menu {
  opacity: 1;
  visibility: visible; }

.block-boxes-twitter-feed {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px; }

/* --------------- Custom Main Menu ------------ */
.menu-block-2.menu-name-main-menu {
  clear: both;
  margin: 0 15px; }

.menu-block-2.menu-name-main-menu > ul.menu {
  font-size: 0.929em;
  margin: 15px 0; }

.menu-block-2.menu-name-main-menu > ul.menu > li {
  float: left;
  /* LTR */
  list-style: none;
  padding: 0;
  border: none; }

.menu-block-2.menu-name-main-menu > ul.menu > li a {
  color: #fff;
  background: #466e40;
  text-transform: uppercase;
  float: left;
  /* LTR */
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  border-right: 1px solid #9cbc26;
  border-bottom: 1px solid #9cbc26; }
  @media screen and (max-width: 545px) {
    .menu-block-2.menu-name-main-menu > ul.menu > li a {
      font-size: 16px; } }

.menu-block-2.menu-name-main-menu > ul.menu > li a.active,
.menu-block-2.menu-name-main-menu > ul.menu > li a.active-trail {
  border-bottom: none;
  background: #fff; }

.menu-block-2.menu-name-main-menu > ul.menu > li a:hover, .menu-block-2.menu-name-main-menu > ul.menu > li a:focus, .menu-block-2.menu-name-main-menu > ul.menu > li a:active {
  background: #fff; }

.menu-block-2.menu-name-main-menu > ul.menu > li.expanded {
  position: relative; }

.menu-block-2.menu-name-main-menu > ul.menu > li.expanded:hover a {
  background: #fff; }

.menu-block-2.menu-name-main-menu > ul.menu > li.expanded:hover ul {
  display: block; }

.menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul {
  display: none;
  position: absolute;
  margin: 0 !important;
  height: auto !important;
  z-index: 999;
  left: 0;
  top: 45px;
  width: 285px;
  box-shadow: 2px 4px 8px rgba(0, 65, 85, 0.4);
  opacity: 0.98;
  background: #fff; }

.menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul:hover {
  display: block; }

.menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul li {
  width: 100%;
  list-style: none; }

.menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul li a {
  background: #fff;
  width: 100%;
  text-align: left;
  border: none;
  padding: 10px 20px;
  text-transform: none;
  font-size: 12px; }
  @media screen and (max-width: 545px) {
    .menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul li a {
      font-size: 14px;
      text-align: center; } }

.menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul li a:hover {
  text-decoration: underline; }

.block-menu-block-2 {
  float: left;
  clear: left;
  margin-top: -15px; }

.headhesive--stick .block-menu-block-2 {
  clear: none;
  float: right;
  margin-top: 0; }

/* --------------- News -------------- */
.block-views-news-block-2 {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px; }

.block-views-news-block-3 {
  border-top: 1px solid #eee;
  padding-top: 20px; }

.news-full-postdate,
.news-listing-postdate,
.news-teaser-postdate,
.news-slide-postdate,
.feed-item-slide-postdate,
.feed-item-listing-postdate,
.deliverable-full-postdate,
.progress-full-postdate,
.progress-teaser-postdate {
  text-transform: uppercase;
  color: #888;
  font-size: 10px; }

.news-full-postdate,
.progress-full-postdate {
  margin-bottom: 15px; }

.news-full-image,
.progress-full-image {
  margin-bottom: 15px; }

.news-full-kicker,
.news-slide-kicker,
.news-teaser-kicker {
  font-weight: 600;
  display: inline;
  margin-right: 5px; }

.news-full-lead,
.news-slide-lead,
.news-teaser-lead {
  color: #888;
  display: inline;
  margin-bottom: 15px; }

.news-full-body,
.progress-full-body,
.article-full-body {
  margin-top: 15px; }

.news-listing,
.feed-item-listing {
  border-bottom: 1px solid #eee;
  clear: left;
  margin-bottom: 10px;
  overflow: auto;
  padding-bottom: 10px;
  padding-top: 5px; }

.news-listing-image,
.feed-item-listing-image {
  float: left;
  margin-right: 15px; }

.feed-item-listing-image p {
  margin: 0; }

.news-listing-title h2,
.feed-item-listing-title h2 {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0; }

.news-teaser-title h2,
.progress-teaser-title h2,
.article-teaser-title h2 {
  padding-bottom: 0; }

.news-teaser-postdate,
.progress-teaser-postdate {
  margin-bottom: 10px; }

.event-teaser-readmore,
.news-teaser-readmore,
.news-slide-readmore,
.feed-item-slide-readmore,
.feed-item-listing-readmore,
.progress-teaser-readmore,
.article-teaser-readmore {
  float: right;
  margin-top: 30px; }

.event-teaser-readmore p,
.news-teaser-readmore p,
.news-slide-readmore p,
.feed-item-slide-readmore p,
.feed-item-listing-readmore p,
.progress-teaser-readmore p {
  margin-bottom: 0; }

.news-slide,
.feed-item-slide {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  float: left;
  padding-right: 15px;
  border-right: 1px solid #eee;
  margin-bottom: 15px; }
  .news-slide:last-child,
  .feed-item-slide:last-child {
    margin-right: 0; }
  .news-slide:last-child,
  .feed-item-slide:last-child {
    border: 0; }
  @media screen and (max-width: 545px) {
    .news-slide,
    .feed-item-slide {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      border-right: 0;
      padding: 0;
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #eee; }
      .news-slide:last-child,
      .feed-item-slide:last-child {
        margin-right: 0; } }

/*.views-row-last .news-slide,*/
.views-row-last .feed-item-slide {
  border-right: none;
  margin-right: 0; }

.views-row-last .news-listing,
.views-row-last .feed-item-listing {
  border-bottom: none;
  margin-bottom: 0; }

.news-slide-postdate,
.feed-item-slide-postdate,
.feed-item-listing-postdate {
  float: left; }

.news-slide-body,
.feed-item-slide-body {
  min-height: 180px; }
  @media screen and (max-width: 545px) {
    .news-slide-body,
    .feed-item-slide-body {
      min-height: 0; } }

.feed-items-see-all {
  text-align: center;
  clear: left;
  font-size: 16px;
  border-top: 1px solid #eee;
  width: 100%;
  padding-top: 15px; }
  @media screen and (max-width: 545px) {
    .feed-items-see-all {
      margin-bottom: 30px; } }

.news-see-all {
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
  border-top: 1px solid #eee; }

.partner-row,
.people-row {
  clear: left;
  float: left;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  padding-bottom: 15px;
  width: 100%; }

.partner-row.last,
.people-row.last {
  border-bottom: none; }

.partner-row.last .partner,
.people-row.last .people {
  height: 250px; }

.partner,
.people {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  border-right: 1px solid #efefef;
  clear: none;
  float: left;
  margin-right: 10px;
  padding-right: 10px;
  padding-top: 10px; }
  .partner:last-child,
  .people:last-child {
    margin-right: 0; }
  @media screen and (max-width: 840px) {
    .partner,
    .people {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .partner:last-child,
      .people:last-child {
        margin-right: 0; }
      .partner:nth-child(4n),
      .people:nth-child(4n) {
        margin-right: 0; }
      .partner:nth-child(4n+1),
      .people:nth-child(4n+1) {
        clear: left; } }
  @media screen and (max-width: 545px) {
    .partner,
    .people {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .partner:last-child,
      .people:last-child {
        margin-right: 0; }
      .partner:nth-child(4n),
      .people:nth-child(4n) {
        margin-right: 2.35765%; }
      .partner:nth-child(4n+1),
      .people:nth-child(4n+1) {
        clear: none; }
      .partner:nth-child(2n),
      .people:nth-child(2n) {
        margin-right: 0; }
      .partner:nth-child(2n+1),
      .people:nth-child(2n+1) {
        clear: left; }
      .partner:nth-child(2n),
      .people:nth-child(2n) {
        border: 0; } }

.partner.last,
.people.last {
  border-right: none;
  margin-right: 0;
  padding-right: 0; }

.partner-logo,
.people-image {
  display: flex;
  height: 120px;
  justify-content: center; }

.partner-logo-inner,
.people-image-inner {
  align-self: center; }

.partner-logo-inner img,
.people-image-inner img {
  max-width: 100px; }

.partner-name,
.people-name {
  text-align: center;
  font-weight: bold;
  margin: 5px 0 5px; }

.partner-full-name {
  text-align: center;
  font-size: 10px;
  line-height: 1.5; }

.partner-full-fullname {
  font-weight: bold;
  color: #333; }

.partner-full-country {
  color: #888; }

.partner-full-logo {
  float: right;
  margin-right: 100px; }

.partner-full-body {
  clear: both;
  margin-top: 20px; }

.node-type-profile h1#page-title,
.node-type-partner h1#page-title {
  display: none; }

.people-full-image {
  float: left;
  margin: 5px 15px 15px 0; }

.people-full-body {
  clear: left;
  margin-top: 10px; }

.sidebar ul li a.active {
  font-weight: bold; }

.frontpage-left {
  background: #eee;
  width: 50%;
  font-size: 16px;
  line-height: 1.3;
  vertical-align: middle;
  padding: 20px;
  display: table-cell; }
  @media screen and (max-width: 545px) {
    .frontpage-left {
      float: left;
      width: 100%; } }

.frontpage-right {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  background-color: #eee; }
  .frontpage-right img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block; }
  @media screen and (max-width: 545px) {
    .frontpage-right {
      clear: left;
      float: left;
      width: 100%; } }

.front .block-views-events-block {
  clear: both; }

.deliverable-listing {
  font-size: 16px;
  margin-bottom: 15px; }

span.deliverable-listing {
  line-height: 2; }

.deliverables-page h3 {
  line-height: 1.3; }

.deliverable-full-attachment .label-above,
.progress-full-attachment .label-above {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px; }
.deliverable-full-attachment .file,
.progress-full-attachment .file {
  float: left;
  clear: left; }

.deliverable-full-work-package,
.milestone-full-work-package {
  padding: 20px 0;
  font-weight: 600; }

.node-scientific-article .label-inline {
  float: left;
  font-weight: bold; }

.article-full-year,
.article-full-authors,
.article-full-conference,
.article-full-journal,
.article-teaser-year,
.article-teaser-authors,
.article-teaser-conference,
.article-teaser-journal {
  margin-bottom: 15px; }

.article-full-abstract {
  margin: 30px 0 0 0; }

.article-field-container {
  clear: left;
  margin-bottom: 5px; }

.article-field {
  margin-left: 75px; }

.article-full-abstract,
.article-full-attachment,
.article-full-link {
  margin-bottom: 30px; }
  .article-full-abstract .label-above,
  .article-full-attachment .label-above,
  .article-full-link .label-above {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px; }
  .article-full-abstract .file,
  .article-full-attachment .file,
  .article-full-link .file {
    float: left;
    clear: left; }

.webform-component--first-name,
.webform-component--e-mail,
.webform-component--last-name,
.webform-component--organisation {
  float: left; }

.webform-component--last-name,
.webform-component--organisation {
  margin-left: 30px; }

.webform-component--question {
  clear: left; }

.blue a {
  color: #004155; }

.blue .node-teaser h2 a {
  color: #004155; }

.blue .tabs ul.primary li a {
  background-color: #0094ca;
  border: 1px solid #0094ca; }

.blue .block-system-main-menu,
.blue .menu-block-2.menu-name-main-menu {
  /*    background: $color-two;*/ }
  .blue .block-system-main-menu > ul.menu > li a,
  .blue .menu-block-2.menu-name-main-menu > ul.menu > li a {
    background: #004155;
    border-right: 1px solid #0094ca; }
    .blue .block-system-main-menu > ul.menu > li a.active, .blue .block-system-main-menu > ul.menu > li a.active-trail,
    .blue .menu-block-2.menu-name-main-menu > ul.menu > li a.active,
    .blue .menu-block-2.menu-name-main-menu > ul.menu > li a.active-trail {
      border-bottom: none;
      color: #0094ca;
      background: #fff; }
    .blue .block-system-main-menu > ul.menu > li a:hover, .blue .block-system-main-menu > ul.menu > li a:focus, .blue .block-system-main-menu > ul.menu > li a:active,
    .blue .menu-block-2.menu-name-main-menu > ul.menu > li a:hover,
    .blue .menu-block-2.menu-name-main-menu > ul.menu > li a:focus,
    .blue .menu-block-2.menu-name-main-menu > ul.menu > li a:active {
      background: #fff;
      color: #0094ca; }

.blue .menu-block-2.menu-name-main-menu {
  background: transparent; }
  @media screen and (max-width: 545px) {
    .blue .menu-block-2.menu-name-main-menu {
      background: #004155; } }

.blue #header {
  background-color: #0094ca; }

.blue .menu-block-2.menu-name-main-menu > ul.menu > li a.active-trail {
  color: #004155; }

.blue .menu-block-2.menu-name-main-menu > ul.menu > li a:hover, .menu-block-2.menu-name-main-menu > ul.menu > li a:focus, .menu-block-2.menu-name-main-menu > ul.menu > li a:active,
.blue .menu-block-2.menu-name-main-menu > ul.menu > li.expanded:hover a,
.blue .menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul li a:hover {
  color: #004155; }

.blue .sidebar ul li a:hover,
.blue .sidebar ul li a.active-trail,
.blue .sidebar ul li a.active,
.blue .sidebar ul li.expanded a {
  color: #004155;
  background-color: #eee; }

.blue .sidebar ul li a {
  color: #fff;
  background-color: #0094ca; }

.blue h1, .blue h2, .blue h3, .blue h4, .blue h5, .blue h6 {
  color: #0094ca !important; }

.blue #footer-wrapper {
  background-color: #0094ca; }

.blue #footer {
  border-color: #004155; }

.blue .body ul li:before {
  color: #0094ca; }

.green a {
  color: #466e00; }

.green .node-teaser h2 a {
  color: #466e00; }

.green .tabs ul.primary li a {
  background-color: #9bbe05;
  border: 1px solid #9bbe05; }

.green .block-system-main-menu,
.green .menu-block-2.menu-name-main-menu {
  /*    background: $color-two;*/ }
  .green .block-system-main-menu > ul.menu > li a,
  .green .menu-block-2.menu-name-main-menu > ul.menu > li a {
    background: #466e00;
    border-right: 1px solid #9bbe05; }
    .green .block-system-main-menu > ul.menu > li a.active, .green .block-system-main-menu > ul.menu > li a.active-trail,
    .green .menu-block-2.menu-name-main-menu > ul.menu > li a.active,
    .green .menu-block-2.menu-name-main-menu > ul.menu > li a.active-trail {
      border-bottom: none;
      color: #9bbe05;
      background: #fff; }
    .green .block-system-main-menu > ul.menu > li a:hover, .green .block-system-main-menu > ul.menu > li a:focus, .green .block-system-main-menu > ul.menu > li a:active,
    .green .menu-block-2.menu-name-main-menu > ul.menu > li a:hover,
    .green .menu-block-2.menu-name-main-menu > ul.menu > li a:focus,
    .green .menu-block-2.menu-name-main-menu > ul.menu > li a:active {
      background: #fff;
      color: #9bbe05; }

.green .menu-block-2.menu-name-main-menu {
  background: transparent; }
  @media screen and (max-width: 545px) {
    .green .menu-block-2.menu-name-main-menu {
      background: #466e00; } }

.green #header {
  background-color: #9bbe05; }

.green .menu-block-2.menu-name-main-menu > ul.menu > li a.active-trail {
  color: #466e00; }

.green .menu-block-2.menu-name-main-menu > ul.menu > li a:hover, .menu-block-2.menu-name-main-menu > ul.menu > li a:focus, .menu-block-2.menu-name-main-menu > ul.menu > li a:active,
.green .menu-block-2.menu-name-main-menu > ul.menu > li.expanded:hover a,
.green .menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul li a:hover {
  color: #466e00; }

.green .sidebar ul li a:hover,
.green .sidebar ul li a.active-trail,
.green .sidebar ul li a.active,
.green .sidebar ul li.expanded a {
  color: #466e00;
  background-color: #eee; }

.green .sidebar ul li a {
  color: #fff;
  background-color: #9bbe05; }

.green h1, .green h2, .green h3, .green h4, .green h5, .green h6 {
  color: #9bbe05 !important; }

.green #footer-wrapper {
  background-color: #9bbe05; }

.green #footer {
  border-color: #466e00; }

.green .body ul li:before {
  color: #9bbe05; }

.orange a {
  color: #c8af00; }

.orange .node-teaser h2 a {
  color: #c8af00; }

.orange .tabs ul.primary li a {
  background-color: #ff7d00;
  border: 1px solid #ff7d00; }

.orange .block-system-main-menu,
.orange .menu-block-2.menu-name-main-menu {
  /*    background: $color-two;*/ }
  .orange .block-system-main-menu > ul.menu > li a,
  .orange .menu-block-2.menu-name-main-menu > ul.menu > li a {
    background: #c8af00;
    border-right: 1px solid #ff7d00; }
    .orange .block-system-main-menu > ul.menu > li a.active, .orange .block-system-main-menu > ul.menu > li a.active-trail,
    .orange .menu-block-2.menu-name-main-menu > ul.menu > li a.active,
    .orange .menu-block-2.menu-name-main-menu > ul.menu > li a.active-trail {
      border-bottom: none;
      color: #ff7d00;
      background: #fff; }
    .orange .block-system-main-menu > ul.menu > li a:hover, .orange .block-system-main-menu > ul.menu > li a:focus, .orange .block-system-main-menu > ul.menu > li a:active,
    .orange .menu-block-2.menu-name-main-menu > ul.menu > li a:hover,
    .orange .menu-block-2.menu-name-main-menu > ul.menu > li a:focus,
    .orange .menu-block-2.menu-name-main-menu > ul.menu > li a:active {
      background: #fff;
      color: #ff7d00; }

.orange .menu-block-2.menu-name-main-menu {
  background: transparent; }
  @media screen and (max-width: 545px) {
    .orange .menu-block-2.menu-name-main-menu {
      background: #c8af00; } }

.orange #header {
  background-color: #ff7d00; }

.orange .menu-block-2.menu-name-main-menu > ul.menu > li a.active-trail {
  color: #c8af00; }

.orange .menu-block-2.menu-name-main-menu > ul.menu > li a:hover, .menu-block-2.menu-name-main-menu > ul.menu > li a:focus, .menu-block-2.menu-name-main-menu > ul.menu > li a:active,
.orange .menu-block-2.menu-name-main-menu > ul.menu > li.expanded:hover a,
.orange .menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul li a:hover {
  color: #c8af00; }

.orange .sidebar ul li a:hover,
.orange .sidebar ul li a.active-trail,
.orange .sidebar ul li a.active,
.orange .sidebar ul li.expanded a {
  color: #c8af00;
  background-color: #eee; }

.orange .sidebar ul li a {
  color: #fff;
  background-color: #ff7d00; }

.orange h1, .orange h2, .orange h3, .orange h4, .orange h5, .orange h6 {
  color: #ff7d00 !important; }

.orange #footer-wrapper {
  background-color: #ff7d00; }

.orange #footer {
  border-color: #c8af00; }

.orange .body ul li:before {
  color: #ff7d00; }

.purple a {
  color: #6e006e; }

.purple .node-teaser h2 a {
  color: #6e006e; }

.purple .tabs ul.primary li a {
  background-color: #b40096;
  border: 1px solid #b40096; }

.purple .block-system-main-menu,
.purple .menu-block-2.menu-name-main-menu {
  /*    background: $color-two;*/ }
  .purple .block-system-main-menu > ul.menu > li a,
  .purple .menu-block-2.menu-name-main-menu > ul.menu > li a {
    background: #6e006e;
    border-right: 1px solid #b40096; }
    .purple .block-system-main-menu > ul.menu > li a.active, .purple .block-system-main-menu > ul.menu > li a.active-trail,
    .purple .menu-block-2.menu-name-main-menu > ul.menu > li a.active,
    .purple .menu-block-2.menu-name-main-menu > ul.menu > li a.active-trail {
      border-bottom: none;
      color: #b40096;
      background: #fff; }
    .purple .block-system-main-menu > ul.menu > li a:hover, .purple .block-system-main-menu > ul.menu > li a:focus, .purple .block-system-main-menu > ul.menu > li a:active,
    .purple .menu-block-2.menu-name-main-menu > ul.menu > li a:hover,
    .purple .menu-block-2.menu-name-main-menu > ul.menu > li a:focus,
    .purple .menu-block-2.menu-name-main-menu > ul.menu > li a:active {
      background: #fff;
      color: #b40096; }

.purple .menu-block-2.menu-name-main-menu {
  background: transparent; }
  @media screen and (max-width: 545px) {
    .purple .menu-block-2.menu-name-main-menu {
      background: #6e006e; } }

.purple #header {
  background-color: #b40096; }

.purple .menu-block-2.menu-name-main-menu > ul.menu > li a.active-trail {
  color: #6e006e; }

.purple .menu-block-2.menu-name-main-menu > ul.menu > li a:hover, .menu-block-2.menu-name-main-menu > ul.menu > li a:focus, .menu-block-2.menu-name-main-menu > ul.menu > li a:active,
.purple .menu-block-2.menu-name-main-menu > ul.menu > li.expanded:hover a,
.purple .menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul li a:hover {
  color: #6e006e; }

.purple .sidebar ul li a:hover,
.purple .sidebar ul li a.active-trail,
.purple .sidebar ul li a.active,
.purple .sidebar ul li.expanded a {
  color: #6e006e;
  background-color: #eee; }

.purple .sidebar ul li a {
  color: #fff;
  background-color: #b40096; }

.purple h1, .purple h2, .purple h3, .purple h4, .purple h5, .purple h6 {
  color: #b40096 !important; }

.purple #footer-wrapper {
  background-color: #b40096; }

.purple #footer {
  border-color: #6e006e; }

.purple .body ul li:before {
  color: #b40096; }

.yellow a {
  color: #d28c14; }

.yellow .node-teaser h2 a {
  color: #d28c14; }

.yellow .tabs ul.primary li a {
  background-color: #ffbe00;
  border: 1px solid #ffbe00; }

.yellow .block-system-main-menu,
.yellow .menu-block-2.menu-name-main-menu {
  /*    background: $color-two;*/ }
  .yellow .block-system-main-menu > ul.menu > li a,
  .yellow .menu-block-2.menu-name-main-menu > ul.menu > li a {
    background: #d28c14;
    border-right: 1px solid #ffbe00; }
    .yellow .block-system-main-menu > ul.menu > li a.active, .yellow .block-system-main-menu > ul.menu > li a.active-trail,
    .yellow .menu-block-2.menu-name-main-menu > ul.menu > li a.active,
    .yellow .menu-block-2.menu-name-main-menu > ul.menu > li a.active-trail {
      border-bottom: none;
      color: #ffbe00;
      background: #fff; }
    .yellow .block-system-main-menu > ul.menu > li a:hover, .yellow .block-system-main-menu > ul.menu > li a:focus, .yellow .block-system-main-menu > ul.menu > li a:active,
    .yellow .menu-block-2.menu-name-main-menu > ul.menu > li a:hover,
    .yellow .menu-block-2.menu-name-main-menu > ul.menu > li a:focus,
    .yellow .menu-block-2.menu-name-main-menu > ul.menu > li a:active {
      background: #fff;
      color: #ffbe00; }

.yellow .menu-block-2.menu-name-main-menu {
  background: transparent; }
  @media screen and (max-width: 545px) {
    .yellow .menu-block-2.menu-name-main-menu {
      background: #d28c14; } }

.yellow #header {
  background-color: #ffbe00; }

.yellow .menu-block-2.menu-name-main-menu > ul.menu > li a.active-trail {
  color: #d28c14; }

.yellow .menu-block-2.menu-name-main-menu > ul.menu > li a:hover, .menu-block-2.menu-name-main-menu > ul.menu > li a:focus, .menu-block-2.menu-name-main-menu > ul.menu > li a:active,
.yellow .menu-block-2.menu-name-main-menu > ul.menu > li.expanded:hover a,
.yellow .menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul li a:hover {
  color: #d28c14; }

.yellow .sidebar ul li a:hover,
.yellow .sidebar ul li a.active-trail,
.yellow .sidebar ul li a.active,
.yellow .sidebar ul li.expanded a {
  color: #d28c14;
  background-color: #eee; }

.yellow .sidebar ul li a {
  color: #fff;
  background-color: #ffbe00; }

.yellow h1, .yellow h2, .yellow h3, .yellow h4, .yellow h5, .yellow h6 {
  color: #ffbe00 !important; }

.yellow #footer-wrapper {
  background-color: #ffbe00; }

.yellow #footer {
  border-color: #d28c14; }

.yellow .body ul li:before {
  color: #ffbe00; }

.brown a {
  color: #644600; }

.brown .node-teaser h2 a {
  color: #644600; }

.brown .tabs ul.primary li a {
  background-color: #966e14;
  border: 1px solid #966e14; }

.brown .block-system-main-menu,
.brown .menu-block-2.menu-name-main-menu {
  /*    background: $color-two;*/ }
  .brown .block-system-main-menu > ul.menu > li a,
  .brown .menu-block-2.menu-name-main-menu > ul.menu > li a {
    background: #644600;
    border-right: 1px solid #966e14; }
    .brown .block-system-main-menu > ul.menu > li a.active, .brown .block-system-main-menu > ul.menu > li a.active-trail,
    .brown .menu-block-2.menu-name-main-menu > ul.menu > li a.active,
    .brown .menu-block-2.menu-name-main-menu > ul.menu > li a.active-trail {
      border-bottom: none;
      color: #966e14;
      background: #fff; }
    .brown .block-system-main-menu > ul.menu > li a:hover, .brown .block-system-main-menu > ul.menu > li a:focus, .brown .block-system-main-menu > ul.menu > li a:active,
    .brown .menu-block-2.menu-name-main-menu > ul.menu > li a:hover,
    .brown .menu-block-2.menu-name-main-menu > ul.menu > li a:focus,
    .brown .menu-block-2.menu-name-main-menu > ul.menu > li a:active {
      background: #fff;
      color: #966e14; }

.brown .menu-block-2.menu-name-main-menu {
  background: transparent; }
  @media screen and (max-width: 545px) {
    .brown .menu-block-2.menu-name-main-menu {
      background: #644600; } }

.brown #header {
  background-color: #966e14; }

.brown .menu-block-2.menu-name-main-menu > ul.menu > li a.active-trail {
  color: #644600; }

.brown .menu-block-2.menu-name-main-menu > ul.menu > li a:hover, .menu-block-2.menu-name-main-menu > ul.menu > li a:focus, .menu-block-2.menu-name-main-menu > ul.menu > li a:active,
.brown .menu-block-2.menu-name-main-menu > ul.menu > li.expanded:hover a,
.brown .menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul li a:hover {
  color: #644600; }

.brown .sidebar ul li a:hover,
.brown .sidebar ul li a.active-trail,
.brown .sidebar ul li a.active,
.brown .sidebar ul li.expanded a {
  color: #644600;
  background-color: #eee; }

.brown .sidebar ul li a {
  color: #fff;
  background-color: #966e14; }

.brown h1, .brown h2, .brown h3, .brown h4, .brown h5, .brown h6 {
  color: #966e14 !important; }

.brown #footer-wrapper {
  background-color: #966e14; }

.brown #footer {
  border-color: #644600; }

.brown .body ul li:before {
  color: #966e14; }

.grey a {
  color: #4b4b4b; }

.grey .node-teaser h2 a {
  color: #4b4b4b; }

.grey .tabs ul.primary li a {
  background-color: #969696;
  border: 1px solid #969696; }

.grey .block-system-main-menu,
.grey .menu-block-2.menu-name-main-menu {
  /*    background: $color-two;*/ }
  .grey .block-system-main-menu > ul.menu > li a,
  .grey .menu-block-2.menu-name-main-menu > ul.menu > li a {
    background: #4b4b4b;
    border-right: 1px solid #969696; }
    .grey .block-system-main-menu > ul.menu > li a.active, .grey .block-system-main-menu > ul.menu > li a.active-trail,
    .grey .menu-block-2.menu-name-main-menu > ul.menu > li a.active,
    .grey .menu-block-2.menu-name-main-menu > ul.menu > li a.active-trail {
      border-bottom: none;
      color: #969696;
      background: #fff; }
    .grey .block-system-main-menu > ul.menu > li a:hover, .grey .block-system-main-menu > ul.menu > li a:focus, .grey .block-system-main-menu > ul.menu > li a:active,
    .grey .menu-block-2.menu-name-main-menu > ul.menu > li a:hover,
    .grey .menu-block-2.menu-name-main-menu > ul.menu > li a:focus,
    .grey .menu-block-2.menu-name-main-menu > ul.menu > li a:active {
      background: #fff;
      color: #969696; }

.grey .menu-block-2.menu-name-main-menu {
  background: transparent; }
  @media screen and (max-width: 545px) {
    .grey .menu-block-2.menu-name-main-menu {
      background: #4b4b4b; } }

.grey #header {
  background-color: #969696; }

.grey .menu-block-2.menu-name-main-menu > ul.menu > li a.active-trail {
  color: #4b4b4b; }

.grey .menu-block-2.menu-name-main-menu > ul.menu > li a:hover, .menu-block-2.menu-name-main-menu > ul.menu > li a:focus, .menu-block-2.menu-name-main-menu > ul.menu > li a:active,
.grey .menu-block-2.menu-name-main-menu > ul.menu > li.expanded:hover a,
.grey .menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul li a:hover {
  color: #4b4b4b; }

.grey .sidebar ul li a:hover,
.grey .sidebar ul li a.active-trail,
.grey .sidebar ul li a.active,
.grey .sidebar ul li.expanded a {
  color: #4b4b4b;
  background-color: #eee; }

.grey .sidebar ul li a {
  color: #fff;
  background-color: #969696; }

.grey h1, .grey h2, .grey h3, .grey h4, .grey h5, .grey h6 {
  color: #969696 !important; }

.grey #footer-wrapper {
  background-color: #969696; }

.grey #footer {
  border-color: #4b4b4b; }

.grey .body ul li:before {
  color: #969696; }

.red a {
  color: #820019; }

.red .node-teaser h2 a {
  color: #820019; }

.red .tabs ul.primary li a {
  background-color: #c81919;
  border: 1px solid #c81919; }

.red .block-system-main-menu,
.red .menu-block-2.menu-name-main-menu {
  /*    background: $color-two;*/ }
  .red .block-system-main-menu > ul.menu > li a,
  .red .menu-block-2.menu-name-main-menu > ul.menu > li a {
    background: #820019;
    border-right: 1px solid #c81919; }
    .red .block-system-main-menu > ul.menu > li a.active, .red .block-system-main-menu > ul.menu > li a.active-trail,
    .red .menu-block-2.menu-name-main-menu > ul.menu > li a.active,
    .red .menu-block-2.menu-name-main-menu > ul.menu > li a.active-trail {
      border-bottom: none;
      color: #c81919;
      background: #fff; }
    .red .block-system-main-menu > ul.menu > li a:hover, .red .block-system-main-menu > ul.menu > li a:focus, .red .block-system-main-menu > ul.menu > li a:active,
    .red .menu-block-2.menu-name-main-menu > ul.menu > li a:hover,
    .red .menu-block-2.menu-name-main-menu > ul.menu > li a:focus,
    .red .menu-block-2.menu-name-main-menu > ul.menu > li a:active {
      background: #fff;
      color: #c81919; }

.red .menu-block-2.menu-name-main-menu {
  background: transparent; }
  @media screen and (max-width: 545px) {
    .red .menu-block-2.menu-name-main-menu {
      background: #820019; } }

.red #header {
  background-color: #c81919; }

.red .menu-block-2.menu-name-main-menu > ul.menu > li a.active-trail {
  color: #820019; }

.red .menu-block-2.menu-name-main-menu > ul.menu > li a:hover, .menu-block-2.menu-name-main-menu > ul.menu > li a:focus, .menu-block-2.menu-name-main-menu > ul.menu > li a:active,
.red .menu-block-2.menu-name-main-menu > ul.menu > li.expanded:hover a,
.red .menu-block-2.menu-name-main-menu > ul.menu > li.expanded ul li a:hover {
  color: #820019; }

.red .sidebar ul li a:hover,
.red .sidebar ul li a.active-trail,
.red .sidebar ul li a.active,
.red .sidebar ul li.expanded a {
  color: #820019;
  background-color: #eee; }

.red .sidebar ul li a {
  color: #fff;
  background-color: #c81919; }

.red h1, .red h2, .red h3, .red h4, .red h5, .red h6 {
  color: #c81919 !important; }

.red #footer-wrapper {
  background-color: #c81919; }

.red #footer {
  border-color: #820019; }

.red .body ul li:before {
  color: #c81919; }
