// Animate objects, just period of time the animation will go on with cubic settings.
@mixin cubic($transition-time: 0.2s) {
  -webkit-transition: $transition-time cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
  -moz-transition: $transition-time cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
  -ms-transition: $transition-time cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
  -o-transition: $transition-time cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
  transition: $transition-time cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
}

// Animate objects, just period of time the animation will go on.
@mixin animate($transition-time: 0.2s) {
  -webkit-transition: all $transition-time ease-in-out;
  -moz-transition: all $transition-time ease-in-out;
  -ms-transition: all $transition-time ease-in-out;
  -o-transition: all $transition-time ease-in-out;
  transition: all $transition-time ease-in-out;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

@mixin comment($border-radius: 15px) {
  background: url('../graphics/comment_icon.png') no-repeat 10px center $interface-light;
  padding: 5px 10px 5px 30px;
  display: inline-block;
  float: right;
  color: $interface-grey;
  font-weight: 600;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
}

@mixin button($type) {
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
  padding: 8px 20px;
  font-size: 14px;

  @if $type == add {
    font-weight: 600;
    color: #FFF;
    background: $blue-light;
    @include transition (background 0.2s ease-in);

    &:hover {
      background: shade($blue-light,40%);
    }
  }

  @if $type == edit {
    font-weight: 600;
    font-size: 14px;
    color: #FFF;
    background: $blue-light;
    @include transition (background 0.2s ease-in);

    &:hover {
      background: shade($blue-light,40%);
    }
  }

  @if $type == small_add {
    font-weight: 600;
    color: #FFF;
    background: $blue-light;
    @include transition (background 0.2s ease-in);

    &:hover {
      background: shade($blue-light,40%);
    }
  }

  @else if $type == follow {
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 40px;
    font-weight: 200;
    color: #FFF;
    background: $blue-light;
    @include transition (background 0.2s ease-in);

    &:hover {
      background: shade($blue-light,40%);
    }
  }
}
