// Import neat helpers - this gives us visual grid which can be useful, also
// gives us media mixin which is useful when making responsive layouts.
@import "../assets/neat/app/assets/stylesheets/neat-helpers";

// Our grid variables
$grid-columns: 12;
$column: golden-ratio(20px, 3);
$gutter: golden-ratio(20px, 1);
$max-width: 1180px;

// Base font-size and line-height
$base-font-size: 1.6;
$base-line-height: 1.5;

// Visual grid that can be used if neat helpers is activated
// $visual-grid : true;
// $visual-grid-color: #e0eef7;


/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
$large:   new-breakpoint(min-width 1081px);
$medium:  new-breakpoint(max-width 1080px);
$menu-switch: new-breakpoint(max-width 840px);
$fit:     new-breakpoint(max-width 800px);
$small:   new-breakpoint(max-width 545px);

/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
// @font-face {
//   font-family: 'Titillium Web';
//   font-style: normal;
//   font-weight: 200;
//   src: local('Titillium WebThin'), local('TitilliumWeb-Thin'), url(../fonts/TitilliumWeb-ExtraLight.ttf) format('truetype');
// }

@font-face {
    font-family: 'titillium_webbold';
    src: url('../fonts/titilliumweb-bold-webfont.eot');
    src: url('../fonts/titilliumweb-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-bold-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-bold-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-bold-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-bold-webfont.svg#titillium_webbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'titillium_webthin';
    src: url('../fonts/titilliumweb-extralight-webfont.eot');
    src: url('../fonts/titilliumweb-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-extralight-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-extralight-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-extralight-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-extralight-webfont.svg#titillium_webthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'titillium_weblight';
    src: url('../fonts/titilliumweb-light-webfont.eot');
    src: url('../fonts/titilliumweb-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-light-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-light-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-light-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-light-webfont.svg#titillium_weblight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'titillium_webregular';
    src: url('../fonts/titilliumweb-regular-webfont.eot');
    src: url('../fonts/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-regular-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-regular-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-regular-webfont.svg#titillium_webregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'titillium_websemibold';
    src: url('../fonts/titilliumweb-semibold-webfont.eot');
    src: url('../fonts/titilliumweb-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-semibold-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-semibold-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-semibold-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-semibold-webfont.svg#titillium_websemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Font sizes
$font-size: 14px;
$font-size-responsive: 12px;
$line-height: $font-size * 1.5;

$header-one: 34px;
$header-two: 28px;
$header-three: 24px;
$header-four: 20px;

$header-one-fit: 38px;
$header-one-small: 24px;
$header-two-fit: 22px;
$header-two-small: 18px;
$header-three-fit: 16px;
$header-three-small: 14px;
$header-four-fit: 14px;

$font-size-one: 16px;
$font-size-two: 14px;
$font-size-three: 12px;

// Font families
$til-reg: 'titillium_webregular';
$til-thin: 'titillium_webthin';
$til-light: 'titillium_weblight';
$til-semi-bold: 'titillium_websemibold';
$til-bold: 'titillium_webbold';


// Colors

// Blue
$blue-light: #1ea5d7;
$blue-medium: rgb(156,188,38);
$blue-dark: #466e00;
$blue-evening: #004155;
$blue-tornado: #005d79;

//Gray
$interface-light: #f3f3f5;
$interface-lighter: #FBFBFB;
$interface-border: #e1e1e3;
$interface-blue: #d0d7db;
$interface-grey: #919194;
$form-border: #B6B6B6;
$shadow: #dddde0;
$dark: #282828;
$grey-medium: #4b4b4b;
$grey: #cccccc;

// Misc
$red: #ff7d00;
$sunset: #d75b00;
$green: rgb(156,188,38);
$green-dark: #7da100;
$sand: #ede9e3;
$brown-reg: #966e14;
$brown-dark: #613f00;
$selected: $blue-medium;
